
            <div class="container">
                <div class="admin-body">
                    <h2 class="admin-body__title">Bình luận</h2>
                    <div class="admin-body__table">
                        <h6>Thông tin bình luận</h6>
                        <div class="admin-body__table--show">
                            <span>Show</span>
                            <select id="show-posted">
                                <option value="5">5</option>
                                <option value="5">10</option>
                                <option value="5">15</option>
                                <option value="5">20</option>
                            </select>
                            <input type="text" placeholder="Tìm kiếm">
                        </div>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Người bình luận</th>
                                <th scope="col">Nội dung</th>
                                <th scope="col">Bài viết</th>
                                <th scope="col">Xóa</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td class="user-name">
                                    <img src="https://cf.shopee.vn/file/fa1e577c09e920e8cb9c73134229291b" alt="img" class="user-img">
                                    Lam Trạm
                                </td>
                                <td class="user-content">Nội dung được viết như sau</td>
                                <td class="user-content">Nội dung của</td>
                                <td>
                                    <a href="#" class="trash-link">
                                        <img src="/img/trash.png" alt="trash.png" class="trash-img" >
                                    </a>
                                </td>
                              </tr>

                            </tbody>
                            <thead>
                                <tr>
                                  <th scope="col">STT</th>
                                  <th scope="col">Người bình luận</th>
                                  <th scope="col">Nội dung</th>
                                  <th scope="col">Bài viết</th>
                                  <th scope="col">Xóa</th>
                              </tr>
                              </thead>
                        </table>
                        <div class="table-pagination">
                            <p>Showing 1 to 10 of 27</p>
                            <nav>
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only"></span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only"></span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>