
            <div class="container">
                <div class="admin-body">
                    <div class="admin-body__header">
                        <h2 class="admin-body__title">Tài khoản Phòng/Khoa</h2>
                        <img class="admin-body__add add-img" src="/img/add.png" alt="button add" data-toggle="modal" data-target="#myModal">
                    </div>
                    <div class="admin-body__table">
                        <h6>Thông tin tài khoản phòng/khoa</h6>
                        <div class="admin-body__table--show">
                            <span>Show</span>
                            <select id="show-posted">
                                <option value="5">5</option>
                                <option value="5">10</option>
                                <option value="5">15</option>
                                <option value="5">20</option>
                            </select>
                            <input type="text" placeholder="Tìm kiếm">
                        </div>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tài khoản</th>
                                <th scope="col">Họ tên</th>
                                <th scope="col">Mã nhân viên</th>
                                <th scope="col">Ngày cập nhật</th>
                                <th scope="col">Sửa | Xóa</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td class="user-name">
                                    <img src="https://cf.shopee.vn/file/fa1e577c09e920e8cb9c73134229291b" alt="img" class="user-img">
                                    Lam Trạm
                                </td>
                                <td class="user-content">Lam Vong Cơ</td>
                                <td>13162</td>
                                <td>14/02/2020</td>
                                <td>
                                    <a href="#" class="trash-link" onclick="editInfoPhongKhoa()">
                                        <img src="/img/edit.png" alt="edit.png" class="trash-img" >
                                    </a>
                                    |
                                    <a href="#" class="trash-link">
                                        <img src="/img/trash.png" alt="trash.png" class="trash-img" >
                                    </a>
                                </td>
                              </tr>

                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tài khoản</th>
                                    <th scope="col">Họ tên</th>
                                    <th scope="col">Mã nhân viên</th>
                                    <th scope="col">Ngày cập nhật</th>
                                    <th scope="col">Sửa | Xóa</th>
                              </tr>
                              </thead>
                        </table>
                        <div class="table-pagination">
                            <p>Showing 1 to 10 of 27</p>
                            <nav>
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only"></span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only"></span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

        <!-- Edit info phòng khoa-->
        <div class="edit-info-phongKhoa edit">
            <div class="edit-info__header">
                <img src="/img/logo tdt.png" alt="logo" class="edit-info__header--logo edit-logo">
                <h1 class="edit-info__header--text">Chỉnh sửa thông tin</h1>
                <img src="/img/close.png" alt="close.png" class="edit-info__header--close" onclick="closeInfoPhongKhoa()">
            </div>
            <div class="edit-info__body">
                <div class="edit-info__body--edit">
                    <label class="edit-info__body--edit-account edit-title" for="account">Tài khoản</label>
                    <input class="edit-info__body--edit-account-input" type="text" value="Vương Nhất Bác">
                </div>
                <div class="edit-info__body--edit">
                    <label class="edit-info__body--edit-password edit-title" for="password">Mật khẩu</label>
                    <input class="edit-info__body--edit-password-input" type="password" value="Công nghệ thông tin">
                </div>
                <button class="btn-change-password">Đổi mật khẩu</button>
                <div class="edit-info__body--edit">
                    <label class="edit-info__body--edit-chuyenmuc edit-title" for="chuyenmuc">Chuyên mục</label>
                </div>
                <div class="list-chuyenmuc">
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="edit-info__btnSave" type="submit">Lưu</button>
        </div>
        <!-- End edit info phòng khoa-->

        {{!-- Modal Thêm tài khoản phòng khoa --}}
        {{!-- <div class="modal" id="myModal">
            <div class="modal-dialog">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">Thêm tài khoản</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div> --}}

        <div class="edit-info__header">
                <img src="/img/logo tdt.png" alt="logo" class="edit-info__header--logo edit-logo">
                <h1 class="edit-info__header--text">Chỉnh sửa thông tin</h1>
                <img src="/img/close.png" alt="close.png" class="edit-info__header--close" onclick="closeInfoPhongKhoa()">
            </div>
            <div class="edit-info__body">
                <div class="edit-info__body--edit">
                    <label class="edit-info__body--edit-account edit-title" for="account">Tài khoản</label>
                    <input class="edit-info__body--edit-account-input" type="text" value="Vương Nhất Bác">
                </div>
                <div class="edit-info__body--edit">
                    <label class="edit-info__body--edit-password edit-title" for="password">Mật khẩu</label>
                    <input class="edit-info__body--edit-password-input" type="password" value="Công nghệ thông tin">
                </div>
                <button class="btn-change-password">Đổi mật khẩu</button>
                <div class="edit-info__body--edit">
                    <label class="edit-info__body--edit-chuyenmuc edit-title" for="chuyenmuc">Chuyên mục</label>
                </div>
                <div class="list-chuyenmuc">
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox-chuyenmuc">
                                <input type="checkbox">
                                <label for="chuyenmuc">Phòng CTHSSV</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{!-- End Thêm tài khoản phòng khoa --}}
