<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Thông báo</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-3 col-sideBar">
            <!-- Sidebar -->
            <div class="sidebar">
                <a href="home.html" class="sidebar-logo-link">
                    <img src="/img/logo tdt.png" alt="logo TDTU" class="sidebar-logo">
                </a>
                <div class="sidebar-username">
                    <img class="sidebar-username__img" src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Logo user">
                    <h6 class="sidebar-username__name">
                        Vương Nhất Bác
                    </h6>
                </div>
                <div class="sidebar-navbar">
                    <a href="phongban.html" class="sidebar-navbar__phong-khoa-link">
                        <div class="sidebar-navbar__phong-khoa">
                            Phòng/Khoa
                        </div>
                    </a>
                    <!-- Nếu ko phải admin thì thêm class="not-admin", ngược lại bỏ nó đi -->
                    <div class="sidebar-navbar__admin not-admin">
                        <p> Quản lý </p>
                        <div class="sidebar-navbar__admin--block">
                            <a href="admin-posted.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-baiviet">
                                    Bài viết
                                </div>
                            </a>
                            <a href="admin-comment.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-binhluan">
                                    Bình luận
                                </div>
                            </a>
                            <a href="admin-acc-phong-khoa.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-tkphong">
                                    Tài khoản Phòng/Khoa
                                </div>
                            </a>
                            <a href="admin-acc-student.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-tksinhvien">
                                    Tài khoản sinh viên
                                </div>
                            </a>
                        </div>
                    </div>
                    

                </div>
            </div>
            <!-- End sidebar -->
        </div>
        <div class="col-lg-9">
            <div class="header">
                <input class="header-search" type="text" placeholder="Tìm kiếm">
                <a href="personal.html" class="header-username-link">
                    <div class="header-username">
                        <img class="header-username__img" src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Logo user">
                        <p class="header-username__name">
                            Vương Nhất Bác
                        </p>
                    </div>
                </a>
                <div class="header-nav">
                    <div class="header-nav__notification">
                        <img src="/img/bell.png" alt="icon bell" class="header-nav__notification--logo">
                        <h6 class="header-nav__notification--number">2</h6>
                        <!-- Header notification -->
                        <div class="header-notification">
                            <div class="header-notification__header">
                                <h4 class="header-notification__header--title">Thông báo</h4>
                                <div class="header-notification__header--see-all">
                                    <a href="all-notification.html" class="header-notification__header--see-all-link">
                                        Xem tất cả
                                    </a>
                                </div>
                            </div>
                            <div class="header-notification__body unread-notification">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                            <div class="header-notification__body unread-notification">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                            <div class="header-notification__body">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                        </div>
                        <!-- End header notification-->
                    </div>

                    <div class="header-nav__logout">
                        <a href="login.html">
                            <img src="/img/exit.png" alt="icon bell" class="header-nav__logout--logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Notification -->
                <div class="detail-notification">
                    <div class="main-posted__user">
                        <img src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Img" class="main-posted__user--img">
                        <div class="main-posted__user-info">
                            <h6 class="main-posted__user--name">Vương Nhất Bác</h6>
                            <p class="main-posted__user--name-date">8 tháng 2 năm 2021 lúc 18:00</p>
                        </div>
                    </div>
                    <h4 class="detail-notification--title">
                        Thông báo khai giảng các khóa học ôn luyện Tiếng anh tháng 3/2021
                    </h4>
                    <!-- Nếu là sinh viên vào xem thì thêm class="sinhvien-xem" để bỏ đi -->
                    <p class="detail-notification--date">
                        TDT Creative Language Center | 03/02/2021
                    </p>
                    <div class="detail-notification-body">
                        <p class="detail-notification-body--content">
                            Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa học ngoại ngữ tháng 3/2021 tại CLC như sau:
                            Course	Duration
                            (Periods)	Level	Time
                            3 times/ week	Course fee
                            (VND)	Start date
                            IELTS Preparation
                            75	IELTS Foundation	17:45-20:00	3.750.000	23/03/2021
                            75	IELTS 5.0 - 5.5	17:45-20:00	3.750.000	23/03/2021
                            75	IELTS 5.5 - 6.0	17:45-20:00	3.750.000	23/03/2021
                            75	IELTS 6.0 - 6.5	17:45-20:00	5.500.000	23/03/2021
                            TOEIC Preparation
                            75	TOEIC Foundation	17:45-20:00	2.500.000	23/03/2021
                            75	TOEIC 550	17:45-20:00	2.500.000	23/03/2021
                            PET (B1) Preparation
                            75	B1 Foundation	17:45-20:00	2.500.000	23/03/2021
                            75	B1 Intensive	17:45-20:00	2.500.000	23/03/2021

                            Sinh viên scan mã bên dưới để đăng kí và đến văn phòng TT (E0012) để đóng học phí đúng thời hạn.

                            Thời hạn đăng ký và đóng phí: 16/03/2021
                            Mọi thắc mắc, SV vui lòng liên hệ văn phòng TT (E0012), sdt: (028) 3775 5064, email clc@tdtu.edu.
                        </p>
                    </div>
                    <img src="/img/Toàn cảnh TDTU.png" alt="Picture" class="detail-notification-body--picture">
                </div>
                <!-- End notification -->
                <!-- Attached files -->
                <div class="attached-files">
                    <h5>File đính kèm</h5>
                    <div class="attached-files-list">
                        <a href="#" class="attached-files-content">
                            1. 2021-thang-02-(20210203_083913_651).doc
                            <br>
                        </a>
                        <a href="#" class="attached-files-content">
                            2. bo-sung-lich-thi-cuoi-ky-hk1-2021-k24--20210122_041427_635(20210202_113111_167)_.xlsx
                            <br>
                        </a>
                    </div>
                </div>
                <!-- End attached files -->

                <!-- Comment -->
                <div class="detail-notification-comment">
                    <div class="comment">
                        <img src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="img" class="comment--img">
                        <textarea class="comment--write" placeholder="Viết bình luận" cols="90"></textarea>
                    </div>
                    <div class="comment-other">
                        <div class="comment-other__content">
                            <img src="https://photo-baomoi.zadn.vn/w700_r1/2019_11_25_329_33089213/4e07b5631420fd7ea431.jpg" alt="img" class="comment-other--img">
                            <div class="comment-other__box">
                                <h6 class="comment-other__box--username">Hoa Thành</h6>
                                <p class="comment-other__box--text">Hello
                                    Thái tử điện hạ.
                                    Vì người tử trận là vinh quang chí cao vô thượng của ta.
                                    Người ta thương vẫn còn trên đời này.
                                    Ta nguyện vĩnh viễn không siêu sinh.
                                    Ta sẽ trở lại. Điện hạ, chờ ta.
                                </p>
                            </div>
                        </div>
                        <div class="comment-other__reply-and-time">
                            <a href="#" class="comment-other__reply">Trả lời</a>
                            <span class="comment-other__reply-time">. 1 phút</span>
                        </div>
                    </div>
                    <a href="#" class="comment-readmore">Xem thêm 10 bình luận</a>
                </div>
                <!-- End comment -->
            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>