<div class="login">
    <div class="login-background">
        <div class="login-frame">
            <div class="login-img">
                <img src="/img/tdtu-2.png" alt="TDTU" class="login-img__bg">
            </div>
            <span class="space-line"></span>
            <div class="login-form">
                <p class="login-title">Log in</p>
                <div class="login-form-group">
                    <input class="login-username" type="text" placeholder="Username" value="">
                </div>
                <div class="login-form-group">
                    <input class="login-password" type="password" placeholder="Password" value="">
                </div>
                <span class="forgot-password">
                    <a href="">
                        Forgot password?
                    </a>
                </span>
                <button class="btn">SIGN IN</button>
                <div class="g-signin2 login-with__google" data-onsuccess="onSignIn"></div>
                {{!-- <div class="login-with__google">
                    Sign in with
                    <a href="#">
                        <img class="img-google" src="/img/google.png" alt="Google">
                    </a>
                </div> --}}
            </div>
        </div>
    </div>
</div>

