<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Trang cá nhân</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-3 col-sideBar">
            <!-- Sidebar -->
            <div class="sidebar">
                <a href="home.html" class="sidebar-logo-link">
                    <img src="/img/logo tdt.png" alt="logo TDTU" class="sidebar-logo">
                </a>
                <div class="sidebar-username">
                    <img class="sidebar-username__img" src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Logo user">
                    <h6 class="sidebar-username__name">
                        Vương Nhất Bác
                    </h6>
                </div>
                <div class="sidebar-navbar">
                    <a href="phongban.html" class="sidebar-navbar__phong-khoa-link">
                        <div class="sidebar-navbar__phong-khoa">
                            Phòng/Khoa
                        </div>
                    </a>
                    <!-- Nếu ko phải admin thì thêm class="not-admin", ngược lại bỏ nó đi -->
                    <div class="sidebar-navbar__admin not-admin">
                        <p> Quản lý </p>
                        <div class="sidebar-navbar__admin--block">
                            <a href="admin-posted.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-baiviet">
                                    Bài viết
                                </div>
                            </a>
                            <a href="admin-comment.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-binhluan">
                                    Bình luận
                                </div>
                            </a>
                            <a href="admin-acc-phong-khoa.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-tkphong">
                                    Tài khoản Phòng/Khoa
                                </div>
                            </a>
                            <a href="admin-acc-student.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-tksinhvien">
                                    Tài khoản sinh viên
                                </div>
                            </a>
                        </div>
                    </div>
                    

                </div>
            </div>
            <!-- End sidebar -->
        </div>
        <div class="col-lg-9">
            <div class="header">
                <input class="header-search" type="text" placeholder="Tìm kiếm">
                <a href="personal.html" class="header-username-link">
                    <div class="header-username">
                        <img class="header-username__img" src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Logo user">
                        <p class="header-username__name">
                            Vương Nhất Bác
                        </p>
                    </div>
                </a>
                <div class="header-nav">
                    <div class="header-nav__notification">
                        <img src="/img/bell.png" alt="icon bell" class="header-nav__notification--logo">
                        <h6 class="header-nav__notification--number">2</h6>
                        <!-- Header notification -->
                        <div class="header-notification">
                            <div class="header-notification__header">
                                <h4 class="header-notification__header--title">Thông báo</h4>
                                <div class="header-notification__header--see-all">
                                    <a href="all-notification.html" class="header-notification__header--see-all-link">
                                        Xem tất cả
                                    </a>
                                </div>
                            </div>
                            <div class="header-notification__body unread-notification">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                            <div class="header-notification__body unread-notification">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                            <div class="header-notification__body">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                        </div>
                        <!-- End header notification-->
                    </div>

                    <div class="header-nav__logout">
                        <a href="login.html">
                            <img src="/img/exit.png" alt="icon bell" class="header-nav__logout--logo">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9">
                    <div class="container">
                        <div class="main">
                            <!-- Up post -->
                            <div class="main-up-post">
                                <div class="main-up-post-frame">
                                    <div class="main-up-post-frame__username">
                                        <img src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="img" class="main-up-post-frame__username--img">
                                        <textarea class="main-up-post-frame__username--write" placeholder="Bạn đang nghĩ gì ..." cols="80" rows="2" onclick="createPost()"></textarea>
                                    </div>

                                    <!-- Upload post -->
                                    <div class="upload-post create-post">
                                        <div class="upload-post__header">
                                            <img src="/img/logo tdt.png" alt="logo" class="upload-post__header--logo">
                                            <h1 class="upload-post__header--text">Tạo bài viết</h1>
                                            <img src="/img/close.png" alt="close.png" class="upload-post__header--close">
                                        </div>
                                        <div class="upload-post__body">
                                            <div class="upload-post__body--create">
                                                <label class="upload-post__body--create-title create-title" for="title">Tiêu đề</label>
                                                <input class="upload-post__body--create-title-input" type="text" value="Title">
                                            </div>
                                            <div class="upload-post__body--create">
                                                <label class="upload-post__body--upload-post create-title" for="noidung">Nội dung</label>
                                                <textarea class="upload-post__body--upload-post-input" cols="80" rows="10">
                                                    Bạn đang nghĩ gì ...
                                                </textarea>
                                            </div>
                                            <div class="upload-post__body--create">
                                                <label class="upload-post__body--create-chuyenmuc create-title" for="chuyenmuc">Chuyên mục</label>
                                                <div>
                                                    <select class="upload-post__body--create-chuyenmuc-selected" name="chuyenmuc">
                                                        <option value="Phong/Khoa">Chọn chuyên mục</option>
                                                        <option value="CTHSSV">Phòng Công tác học sinh sinh viên</option>
                                                        <option value="daihoc">Phòng Đại học</option>
                                                        <option value="saudaihoc" >Phòng Sau đại học</option>
                                                        <option value="dientoan">Phòng điện toán và máy tính</option>
                                                        <option value="khaothi">Phòng khảo thí và kiểm định chất lượng</option>
                                                        <option value="taichinh">Phòng tài chính</option>
                                                        <option value="CLC">TDT Creative Language Center</option>
                                                        <option value="tinhoc">Trung tâm tin học</option>
                                                        <option value="SDTC">Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                                                        <option value="ATEM">Trung tâm phát triển khoa học quản lý và công nghệ ứng dụng (ATEM)</option>
                                                        <option value="doanhnghiep">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                                        <option value="khoaluat">Khoa Luật</option>
                                                        <option value="ngoaingu-tinhoc">Trung tâm Ngoại ngữ - Tin học - Bồi dưỡng văn hóa</option>
                                                        <option value="IBEP">Viện chính sách kinh tế và kinh doanh (IBEP)</option>
                                                        <option value="mythuatcongnghiep">Khoa Mỹ thuật công nghiệp</option>
                                                        <option value="dien-dientu">Khoa Điện - điện tử</option>
                                                        <option value="cntt">Khoa Công nghệ thông tin</option>
                                                        <option value="baoholaodong">Khoa Môi trường và bảo hộ lao động</option>
                                                        <option value="laodongcongdoan">Khoa Lao động công đoàn</option>
                                                        <option value="taichinhnganhang">Khoa Tài chính ngân hàng</option>
                                                        <option value="giaoducquocte">Khoa giáo dục quốc tế</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="upload-post__body--create">
                                                <label class="upload-post__body--create-file create-title" for="file">File đính kèm</label>
                                                <div class="inputfile-box">
                                                    <input type="file" id="file" class="inputfile" onchange="uploadNewFile(this)">
                                                    <label for="file">
                                                        <span id="file-text" class="upload-post__body--create-file-input"></span>
                                                        <span class="upload-post__body--create-file-btn">
                                                            <img src="/img/file.png" alt="file.png">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="upload-post__body--create">
                                                <label class="upload-post__body--create-video create-title" for="video">Video</label>
                                                <div class="inputfile-box">
                                                    <input type="file" id="video" class="inputfile" onchange="uploadVideo(this)">
                                                    <label for="video">
                                                        <span id="file-video" class="upload-post__body--create-video-input"></span>
                                                        <span class="upload-post__body--create-video-btn">
                                                            <img src="/img/video.png" alt="video.png">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="upload-post__body--create">
                                                <label class="upload-post__body--create-background create-title" for="background">Hình nền</label>
                                                <div class="inputfile-box">
                                                    <input type="file" id="fileImgBg" class="inputfile" onchange="uploadNewImage(this)">
                                                    <label for="fileImgBg">
                                                        <span id="file-imgBackground" class="upload-post__body--create-imgBackground-input"></span>
                                                        <span class="upload-post__body--create-imgBackground-btn">
                                                            <img src="/img/picture.png" alt="picture.png">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            

                                        </div>
                                        <button class="upload-post__btnSave" type="submit">Đăng bài</button>
                                    </div>
                                    <!-- End upload post -->

                                    <div class="main-up-post-frame__choosen">
                                        <div class="main-up-post-frame__choosen-file">
                                            <a href="#" class="main-up-post-frame__choosen-file-link">
                                                <img src="/img/file.png" alt="file" class="main-up-post-frame__choosen-file--img">
                                            </a>
                                            <span class="main-up-post-frame__choosen-file--text">File</span>
                                        </div>
                                        <div class="main-up-post-frame__choosen-video">
                                            <a href="#" class="main-up-post-frame__choosen-video-link">
                                                <img src="/img/video.png" alt="video" class="main-up-post-frame__choosen-video--img">
                                            </a>
                                            <span class="main-up-post-frame__choosen-video--text">Video</span>
                                        </div>
                                        <div class="main-up-post-frame__choosen-picture">
                                            <a href="#" class="main-up-post-frame__choosen-picture-link">
                                                <img src="/img/picture.png" alt="picture" class="main-up-post-frame__choosen-picture--img">
                                            </a>
                                            <span class="main-up-post-frame__choosen-picture--text">Hình ảnh</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="main-posted"> 
                                <div class="main-posted__user">
                                    <img src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Img" class="main-posted__user--img">
                                    <div class="main-posted__user-info">
                                        <h6 class="main-posted__user--name">Vương Nhất Bác</h6>
                                        <p class="main-posted__user--name-date">8 tháng 2 năm 2021 lúc 18:00</p>
                                    </div>
                                    <div class="main-posted__user--edit-and-delete">
                                        <a href="#" class="main-posted__user--edit-link" onclick="editContentPosted()">
                                            <img src="/img/edit.png" alt="edit.png" class="main-posted__user--edit">
                                        </a>

                                        <!-- Edit content post -->
                                        <div class="edit-content edit">
                                            <div class="edit-content__header">
                                                <img src="/img/logo tdt.png" alt="logo" class="edit-content__header--logo edit-logo">
                                                <h1 class="edit-content__header--text">Chỉnh sửa nội dung bài đăng</h1>
                                                <img src="/img/close.png" alt="close.png" class="edit-content__header--close">
                                            </div>
                                            <div class="edit-content__body">
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-name edit-title" for="title">Tiêu đề</label>
                                                    <input class="edit-content__body--edit-name-input" type="text" value="Title">
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-chuyenmuc edit-title" for="chuyenmuc">Chuyên mục</label>
                                                    <div>
                                                        <select class="edit-content__body--edit-chuyenmuc-selected" name="chuyenmuc">
                                                            <option value="Phong/Khoa">Chọn chuyên mục</option>
                                                            <option value="CTHSSV">Phòng Công tác học sinh sinh viên</option>
                                                            <option value="daihoc">Phòng Đại học</option>
                                                            <option value="saudaihoc" >Phòng Sau đại học</option>
                                                            <option value="dientoan">Phòng điện toán và máy tính</option>
                                                            <option value="khaothi">Phòng khảo thí và kiểm định chất lượng</option>
                                                            <option value="taichinh">Phòng tài chính</option>
                                                            <option value="CLC">TDT Creative Language Center</option>
                                                            <option value="tinhoc">Trung tâm tin học</option>
                                                            <option value="SDTC">Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                                                            <option value="ATEM">Trung tâm phát triển khoa học quản lý và công nghệ ứng dụng (ATEM)</option>
                                                            <option value="doanhnghiep">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                                            <option value="khoaluat">Khoa Luật</option>
                                                            <option value="ngoaingu-tinhoc">Trung tâm Ngoại ngữ - Tin học - Bồi dưỡng văn hóa</option>
                                                            <option value="IBEP">Viện chính sách kinh tế và kinh doanh (IBEP)</option>
                                                            <option value="mythuatcongnghiep">Khoa Mỹ thuật công nghiệp</option>
                                                            <option value="dien-dientu">Khoa Điện - điện tử</option>
                                                            <option value="cntt">Khoa Công nghệ thông tin</option>
                                                            <option value="baoholaodong">Khoa Môi trường và bảo hộ lao động</option>
                                                            <option value="laodongcongdoan">Khoa Lao động công đoàn</option>
                                                            <option value="taichinhnganhang">Khoa Tài chính ngân hàng</option>
                                                            <option value="giaoducquocte">Khoa giáo dục quốc tế</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-background edit-title" for="background">Ảnh</label>
                                                    <div class="inputfile-box">
                                                        <input type="file" id="imgPost" class="inputfile" onchange="uploadPostImg(this)">
                                                        <label for="imgPost">
                                                            <span id="file-imgBackground" class="edit-content__body--edit-imgBackground-input"></span>
                                                            <span class="edit-content__body--edit-imgBackground-btn">
                                                                <img src="/img/picture.png" alt="picture.png">
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-file edit-title" for="file">File đính kèm</label>
                                                    <div class="inputfile-box">
                                                        <input type="file" id="filePost" class="inputfile" onchange="uploadPostFile(this)">
                                                        <label for="filePost">
                                                            <span class="edit-content__body--edit-file-input"></span>
                                                            <span class="edit-content__body--edit-file-btn">
                                                                <img src="/img/file.png" alt="file.png">
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-content edit-title" for="noidung">Nội dung</label>
                                                    <textarea class="edit-content__body--edit-content-input" cols="80" rows="10">
                                                        Đây là nội dung
                                                    </textarea>
                                                </div>
                                            </div>
                                            <button class="edit-content__btnSave" type="submit">Lưu</button>
                                        </div>
                                        <!-- End content post -->

                                        <a href="#" class="main-posted__user--delete-link" >
                                            <img src="/img/trash.png" alt="trash.png" class="main-posted__user--delete">
                                        </a>
                                    </div>
                                </div>
                                <div class="main-posted__show">
                                    <img src="/img/tdtu-2.jpg" alt="Img" class="main-posted__show-img">
                                </div>
                                <div class="main-posted__content">
                                    <h5 class="main-posted__content-title">Tiêu đề</h5>
                                    <p class="main-posted__content-content">Nội dung bài viết</p>
                                </div>
                                <hr>
                                <div class="comment">
                                    <img src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="img" class="comment--img">
                                    <textarea class="comment--write" placeholder="Viết bình luận" cols="90"></textarea>
                                </div>
                                <div class="comment-other">
                                    <div class="comment-other__content">
                                        <img src="https://photo-baomoi.zadn.vn/w700_r1/2019_11_25_329_33089213/4e07b5631420fd7ea431.jpg" alt="img" class="comment-other--img">
                                        <div class="comment-other__box">
                                            <h6 class="comment-other__box--username">Hoa Thành</h6>
                                            <p class="comment-other__box--text">Hello
                                                Thái tử điện hạ.
                                                Vì người tử trận là vinh quang chí cao vô thượng của ta.
                                                Người ta thương vẫn còn trên đời này.
                                                Ta nguyện vĩnh viễn không siêu sinh.
                                                Ta sẽ trở lại. Điện hạ, chờ ta.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="comment-other__reply-and-time">
                                        <a href="#" class="comment-other__reply">Trả lời</a>
                                        <span class="comment-other__reply-time">. 1 phút</span>
                                    </div>
                                </div>
                                <a href="#" class="comment-readmore">Xem thêm 10 bình luận</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>