

            <div class="container">
                <!-- Phòng ban -->
                <div class="chuyenmuc-body">
                    <!-- Danh sách phòng ban -->
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <a href="#" class="chuyenmuc--link">
                        <div class="chuyenmuc">
                            <img src="/img/logo tdt.png" alt="logo">
                            <h6>Phòng CTHSSV</h6>
                            <p class="chuyenmuc__thongbao--unread">
                                10
                            </p>
                        </div>
                    </a>
                    <!-- End danh sách phòng ban -->
                </div>
                <!-- End phòng ban -->
            </div>

        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>