{{!-- input: user(người đang login)--}}
{{!-- 
    user:{
        username : ...,
        displayName :  ...,
        avatarUrl :  ...,
        userType: ...,
    },
--}}

<div class="main-up-post">
    <div class="main-up-post-frame">
        <div class="main-up-post-frame__username">
            <img src="{{{user.avatarUrl}}}" alt="img" class="main-up-post-frame__username--img">
            <textarea class="main-up-post-frame__username--write" placeholder="Bạn đang nghĩ gì ..." cols="80" rows="2" onclick="createPost()"></textarea>
        </div>
        <div class="main-up-post-frame__choosen">
            <div class="main-up-post-frame__choosen-file">
                <a href="#" class="main-up-post-frame__choosen-file-link">
                    <img src="/img/file.png" alt="file" class="main-up-post-frame__choosen-file--img">
                </a>
                <span class="main-up-post-frame__choosen-file--text">File</span>
            </div>
            <div class="main-up-post-frame__choosen-video">
                <a href="#" class="main-up-post-frame__choosen-video-link">
                    <img src="/img/video.png" alt="video" class="main-up-post-frame__choosen-video--img">
                </a>
                <span class="main-up-post-frame__choosen-video--text">Video</span>
            </div>
            <div class="main-up-post-frame__choosen-picture">
                <a href="#" class="main-up-post-frame__choosen-picture-link">
                    <img src="/img/picture.png" alt="picture" class="main-up-post-frame__choosen-picture--img">
                </a>
                <span class="main-up-post-frame__choosen-picture--text">Hình ảnh</span>
            </div>
        </div>
    </div>
</div>