{{!-- input: comment--}}
{{!-- 
    comment: {
        content: ...,
        createdAt: ...,
        lastEdited: ...,
        imageUrl: ...,  
        sender: ...,
    }
--}}

<div class="comment-other__content">
    <img src="https://photo-baomoi.zadn.vn/w700_r1/2019_11_25_329_33089213/4e07b5631420fd7ea431.jpg" alt="img" class="comment-other--img">
    <div class="comment-other__box">
        <h6 class="comment-other__box--username">Hoa Thành</h6>
        <p class="comment-other__box--text">Hello
            Thái tử điện hạ.
            Vì người tử trận là vinh quang chí cao vô thượng của ta.
            Người ta thương vẫn còn trên đời này.
            Ta nguyện vĩnh viễn không siêu sinh.
            Ta sẽ trở lại. Điện hạ, chờ ta.
        </p>
    </div>
</div>
<div class="comment-other__reply-and-time">
    <a href="#" class="comment-other__reply">Trả lời</a>
    <span class="comment-other__reply-time">. 1 phút</span>
</div>