{{!-- input: user, comments --}}
{{!-- 
    user:{// người đang login
        username : ...,
        displayName :  ...,
        avatarUrl :  ...,
        userType: ...,
    },
    comments:[],
--}}
<div class="comment">
    {{> add-comment user=user}}
</div>
<div class="comment-other">
    {{#each comments}}
    {{> comment comment=this}}{{!-- chưa test trùng tên biến comment --}}
    {{/each}}
</div>
<a href="#" class="comment-readmore">Xem thêm 10 bình luận</a>