<div class="main-notification">
    <div class="main-notification__header">
        <h4 class="main-notification__header--title">Thông báo</h4>
        <div class="main-notification__header--see-all">
            <a href="/notifications" class="main-notification__header--see-all-link">
                Xem tất cả
            </a>
        </div>
    </div>
    <div class="main-notification__body unread-notification">
        <div class="main-notification__body--name-and-time">
            <p class="main-notification__body--name">[TDT Creative Language Center]</p>
            <span class="main-notification__body--time">03/02/2021 . 16:15</span>
        </div>
        <a href="/userId/posts/postId" class="main-notification__body--title-link">
            <h6 class="main-notification__body--title">
                Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
            </h6>
        </a>
        
        <p class="main-notification__body--content">
            Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
            học ngoại ngữ tháng 3/2021 tại CLC như sau:
        </p>
    </div>

</div>