<div class="edit-content edit">
    <div class="edit-content__header">
        <img src="/img/logo tdt.png" alt="logo" class="edit-content__header--logo edit-logo">
        <h1 class="edit-content__header--text">Chỉnh sửa nội dung bài đăng</h1>
        <img src="/img/close.png" alt="close.png" class="edit-content__header--close pointer" onclick="closeEditContentPosted()">
    </div>
    <div class="edit-content__body">
        <div class="edit-content__body--edit">
            <label class="edit-content__body--edit-name edit-title" for="title">Tiêu đề</label>
            <input class="edit-content__body--edit-name-input" type="text" value="Title">
        </div>
        <div class="edit-content__body--edit">
            <label class="edit-content__body--edit-chuyenmuc edit-title" for="chuyenmuc">Chuyên mục</label>
            <div>
                <select class="edit-content__body--edit-chuyenmuc-selected" name="chuyenmuc">
                    <option value="Phong/Khoa">Chọn chuyên mục</option>
                    <option value="CTHSSV">Phòng Công tác học sinh sinh viên</option>
                    <option value="daihoc">Phòng Đại học</option>
                    <option value="saudaihoc" >Phòng Sau đại học</option>
                    <option value="dientoan">Phòng điện toán và máy tính</option>
                    <option value="khaothi">Phòng khảo thí và kiểm định chất lượng</option>
                    <option value="taichinh">Phòng tài chính</option>
                    <option value="CLC">TDT Creative Language Center</option>
                    <option value="tinhoc">Trung tâm tin học</option>
                    <option value="SDTC">Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                    <option value="ATEM">Trung tâm phát triển khoa học quản lý và công nghệ ứng dụng (ATEM)</option>
                    <option value="doanhnghiep">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                    <option value="khoaluat">Khoa Luật</option>
                    <option value="ngoaingu-tinhoc">Trung tâm Ngoại ngữ - Tin học - Bồi dưỡng văn hóa</option>
                    <option value="IBEP">Viện chính sách kinh tế và kinh doanh (IBEP)</option>
                    <option value="mythuatcongnghiep">Khoa Mỹ thuật công nghiệp</option>
                    <option value="dien-dientu">Khoa Điện - điện tử</option>
                    <option value="cntt">Khoa Công nghệ thông tin</option>
                    <option value="baoholaodong">Khoa Môi trường và bảo hộ lao động</option>
                    <option value="laodongcongdoan">Khoa Lao động công đoàn</option>
                    <option value="taichinhnganhang">Khoa Tài chính ngân hàng</option>
                    <option value="giaoducquocte">Khoa giáo dục quốc tế</option>
                </select>
            </div>
        </div>
        <div class="edit-content__body--edit">
            <label class="edit-content__body--edit-background edit-title" for="background">Ảnh</label>
            <div class="inputfile-box">
                <input type="file" id="imgPost" class="inputfile" onchange="uploadPostImg(this)">
                <label for="imgPost">
                    <span id="file-imgBackground" class="edit-content__body--edit-imgBackground-input"></span>
                    <span class="edit-content__body--edit-imgBackground-btn">
                        <img src="/img/picture.png" alt="picture.png">
                    </span>
                </label>
            </div>
        </div>
        <div class="edit-content__body--edit">
            <label class="edit-content__body--edit-file edit-title" for="file">File đính kèm</label>
            <div class="inputfile-box">
                <input type="file" id="filePost" class="inputfile" onchange="uploadPostFile(this)">
                <label for="filePost">
                    <span class="edit-content__body--edit-file-input"></span>
                    <span class="edit-content__body--edit-file-btn">
                        <img src="/img/file.png" alt="file.png">
                    </span>
                </label>
            </div>
        </div>
        <div class="edit-content__body--edit">
            <label class="edit-content__body--edit-content edit-title" for="noidung">Nội dung</label>
            <textarea class="edit-content__body--edit-content-input" cols="80" rows="10">
                Đây là nội dung
            </textarea>
        </div>
    </div>
    <button class="edit-content__btnSave" type="submit">Lưu</button>
</div>