{{!-- input: user, post --}}
{{!-- 
    user:{// người đang login
        username : ...,
        displayName :  ...,
        avatarUrl :  ...,
        userType: ...,
    },
    post:{
        createdAt: "2021-02-18T17:23:42.562Z",
        lastEdited: null,
        comments: [],
        sender: {
            id: "NgVA256",
            displayName: "Nguyễn Văn A",
            avatarUrl: "/img/no-face.png"
        },
        ...
    }
 --}}

<div class="main-posted__user">
    <img src="{{{post.sender.avatarUrl}}}" alt="Img" class="main-posted__user--img">
    <div class="main-posted__user-info">
        <h6 class="main-posted__user--name">{{{post.sender.displayName}}}</h6>
        <p class="main-posted__user--name-date">{{{post.createdAt}}}</p>
    </div>
    {{!-- {{#ifEquals post.sender.id user.username}} <!-- chỉ user tạo ra post mới được sửa post đó (user dùng username cho id, nên có thể so sánh giữa id với username)--> --}}
    <div class="main-posted__user--edit-and-delete">
        <a href="#" class="main-posted__user--edit-link" onclick="editContentPosted()">
            <img src="/img/edit.png" alt="edit.png" class="main-posted__user--edit">
        </a>

        <!-- Edit content post -->
        {{> post-detail-form-edit}}
        <!-- End content post -->

        <a href="#" class="main-posted__user--delete-link" >
            <img src="/img/trash.png" alt="trash.png" class="main-posted__user--delete">
        </a>
    </div>
    {{!-- {{/ifEquals}} --}}
    
</div>