{{!-- input: user(người đang login) , post --}}
{{!-- 
    user:{
        username : ...,
        displayName :  ...,
        avatarUrl :  ...,
        userType: ...,
    },
    post:{
        createdAt: "2021-02-18T17:23:42.562Z",
        lastEdited: null,
        comments: [],
        sender: {
            id: "NgVA256",
            displayName: "Nguyễn Văn A",
            avatarUrl: "/img/no-face.png"
        },
        ...
    }

 --}}

<div class="main-posted">
    {{!-------------- post-header --------------}}
    {{> post-header user=user post=post}}

    {{!-------------- post-content --------------}}
    <div class="main-posted__content">

        <h5 class="main-posted__content-title">{{{name}}}</h5>
        <p class="detail-notification--dpment">
            {{{post.department.name}}}
        </p>
        <p class="main-posted__content-content">{{{post.content}}}</p>
        
    </div>

    {{!-------------- image-section --------------}}
    {{> image-section imgArray=post.imagesArray}}

    {{!-------------- attachment-section --------------}}
    {{#if post.attachmentsArray}}
        <hr>
        <h6>File đính kèm</h6>
        {{> attachment-section attachArr=post.attachmentsArray}}
    {{/if}}

    {{!-------------- comment-section --------------}}
    <hr>
    {{> comment-section user=user comments=post.comments}}
</div>