{{!-- input: pageOwner --}}
{{!-- 
    pageOwner:{// người chủ của trang nhà
        username : ...,
        displayName :  ...,
        avatarUrl :  ...,
        userType: ...,
    },
 --}}

<div class="profile-user">
    <img src="{{{pageOwner.avatarUrl}}}" alt="img" class="profile-user__img">
    <h6 class="profile-user__name">{{{pageOwner.displayName}}}</h6>
    <div class="profile-user__title">
        <h6>Giới thiệu</h6>
        <div class="profile-user__edit">
            <a href="#" class="profile-user__edit-link" onclick="editInfoUser()">
                <img src="/img/edit.png" alt="edit.png" class="profile-user__edit-img">
                Chỉnh sửa
            </a>
            <!-- Edit profile -->
            <div class="edit-profile edit">
                <div class="edit-profile__header">
                    <img src="/img/logo tdt.png" alt="logo" class="edit-profile__header--logo edit-logo">
                    <h1 class="edit-profile__header--text">Chỉnh sửa thông tin cá nhân</h1>
                    <img src="/img/close.png" alt="close.png" class="edit-profile__header--close">
                </div>
                <div class="edit-profile__body">
                    <div class="edit-profile__body--edit">
                        <label class="edit-profile__body--edit-name edit-title" for="name">Họ tên</label>
                        <input class="edit-profile__body--edit-name-input" type="text" value="Vương Nhất Bác">
                    </div>
                    <div class="edit-profile__body--edit">
                        <label class="edit-profile__body--edit-khoa edit-title" for="khoa">Khoa</label>
                        <input class="edit-profile__body--edit-khoa-input" type="text" value="Công nghệ thông tin">
                    </div>
                    <div class="edit-profile__body--edit">
                        <label class="edit-profile__body--edit-lop edit-title" for="lop">Lớp</label>
                        <input class="edit-profile__body--edit-lop-input" type="text" value="18050402">
                    </div>
                    <div class="edit-profile__body--edit">
                        <label class="edit-profile__body--edit-img edit-title" for="img">Ảnh đại diện</label>
                        <div class="inputfile-box">
                            <input type="file" id="fileImg" class="inputfile" onchange='uploadFileImg(this)'>
                            <label for="fileImg">
                                <span id="file-img" class="edit-profile__body--edit-img-input"></span>
                                <span class="edit-profile__body--edit-img-btn">
                                <img src="/img/camera.png" alt="camera.png">
                                </span>
                            </label>
                            </div>
                    </div>
                    <div class="edit-profile__body--edit">
                        <label class="edit-profile__body--edit-background edit-title" for="background">Hình nền</label>
                        <div class="inputfile-box">
                            <input type="file" id="imgBg" class="inputfile" onchange="uploadFileImgBackground(this)">
                            <label for="imgBg">
                                <span class="edit-profile__body--edit-imgBackground-input"></span>
                                <span class="edit-profile__body--edit-imgBackground-btn">
                                <img src="/img/picture.png" alt="picture.png">
                                </span>
                            </label>
                            </div>
                    </div>
                    <div class="edit-profile__body--edit">
                        <label class="edit-profile__body--edit-born-place edit-title" for="noisinh">Nơi sinh</label>
                        <input class="edit-profile__body--edit-born-place-input" type="text" value="Thành phố hồ Chí Minh">
                    </div>
                    <div class="edit-profile__body--edit">
                        <label class="edit-profile__body--edit-live-place edit-title" for="songtai">Sống tại</label>
                        <input class="edit-profile__body--edit-live-place-input" type="text" value="Thành phố Hồ Chí Minh">
                    </div>
                </div>
                <button class="edit-profile__btnSave" type="submit">Lưu</button>
            </div>
            <!-- End edit profile -->
        </div>
    </div>
    <div class="profile-user__info">
        <ul>
            <li>
                <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                Khoa: Công nghệ thông tin
            </li>
            <li>
                <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                Ngành: Mạng máy tính và truyền thông dữ liệu
            </li>
            <li>
                <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                MSSV: 51800508
            </li>
            <li>
                <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                Lớp: 18050402
            </li>
            <li>
                <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                Sống tại Thành phố Hồ Chí Minh
            </li>
            <li>
                <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                Đến từ Thành phố Hồ Chí Minh
            </li>
        </ul>
    </div>
</div>