<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quản lý bài viết</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-3 col-sideBar">
            <!-- Sidebar -->
            <div class="sidebar">
                <a href="home.html" class="sidebar-logo-link">
                    <img src="/img/logo tdt.png" alt="logo TDTU" class="sidebar-logo">
                </a>
                <div class="sidebar-username">
                    <img class="sidebar-username__img" src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Logo user">
                    <h6 class="sidebar-username__name">
                        Vương Nhất Bác
                    </h6>
                </div>
                <div class="sidebar-navbar">
                    <a href="phongban.html" class="sidebar-navbar__phong-khoa-link">
                        <div class="sidebar-navbar__phong-khoa">
                            Phòng/Khoa
                        </div>
                    </a>
                    <div class="sidebar-navbar__admin">
                        <p> Quản lý </p>
                        <div class="sidebar-navbar__admin--block">
                            <a href="admin-posted.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-baiviet">
                                    Bài viết
                                </div>
                            </a>
                            <a href="admin-comment.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-binhluan">
                                    Bình luận
                                </div>
                            </a>
                            <a href="admin-acc-phong-khoa.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-tkphong">
                                    Tài khoản Phòng/Khoa
                                </div>
                            </a>
                            <a href="admin-acc-student.html" class="sidebar-navbar__admin--item-link">
                                <div class="sidebar-navbar__admin--item item-tksinhvien">
                                    Tài khoản sinh viên
                                </div>
                            </a>
                        </div>
                    </div>
                    

                </div>
            </div>
            <!-- End sidebar -->
        </div>
        <div class="col-lg-9">
            <div class="header">
                <input class="header-search" type="text" placeholder="Tìm kiếm">
                <a href="personal.html" class="header-username-link">
                    <div class="header-username">
                        <img class="header-username__img" src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="Logo user">
                        <p class="header-username__name">
                            Vương Nhất Bác
                        </p>
                    </div>
                </a>
                <div class="header-nav">
                    <div class="header-nav__notification">
                        <img src="/img/bell.png" alt="icon bell" class="header-nav__notification--logo">
                        <h6 class="header-nav__notification--number">2</h6>
                        <!-- Header notification -->
                        <div class="header-notification">
                            <div class="header-notification__header">
                                <h4 class="header-notification__header--title">Thông báo</h4>
                                <div class="header-notification__header--see-all">
                                    <a href="all-notification.html" class="header-notification__header--see-all-link">
                                        Xem tất cả
                                    </a>
                                </div>
                            </div>
                            <div class="header-notification__body unread-notification">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                            <div class="header-notification__body unread-notification">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                            <div class="header-notification__body">
                                <div class="header-notification__body--name-and-time">
                                    <p class="header-notification__body--name">[TDT Creative Language Center]</p>
                                    <span class="header-notification__body--time">03/02/2021 . 16:15</span>
                                </div>
                                <a href="detail-notification.html" class="header-notification__body--title-link">
                                    <h6 class="header-notification__body--title">
                                        Thông báo khai giảng các khóa học tiếng anh tháng 03/2021
                                    </h6>
                                </a>
                                <p class="header-notification__body--content">
                                    Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
                                    học ngoại ngữ tháng 3/2021 tại CLC như sau:
                                </p>
                            </div>
                        </div>
                        <!-- End header notification-->
                    </div>

                    <div class="header-nav__logout">
                        <a href="login.html">
                            <img src="/img/exit.png" alt="icon bell" class="header-nav__logout--logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="admin-body">
                    <h2 class="admin-body__title">Bình luận</h2>
                    <div class="admin-body__table">
                        <h6>Thông tin bình luận</h6>
                        <div class="admin-body__table--show">
                            <span>Show</span>
                            <select id="show-posted">
                                <option value="5">5</option>
                                <option value="5">10</option>
                                <option value="5">15</option>
                                <option value="5">20</option>
                            </select>
                            <input type="text" placeholder="Tìm kiếm">
                        </div>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Người bình luận</th>
                                <th scope="col">Nội dung</th>
                                <th scope="col">Bài viết</th>
                                <th scope="col">Xóa</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td class="user-name">
                                    <img src="https://cf.shopee.vn/file/fa1e577c09e920e8cb9c73134229291b" alt="img" class="user-img">
                                    Lam Trạm
                                </td>
                                <td class="user-content">Nội dung được viết như sau</td>
                                <td class="user-content">Nội dung của</td>
                                <td>
                                    <a href="#" class="trash-link">
                                        <img src="/img/trash.png" alt="trash.png" class="trash-img" >
                                    </a>
                                </td>
                              </tr>

                            </tbody>
                            <thead>
                                <tr>
                                  <th scope="col">STT</th>
                                  <th scope="col">Người bình luận</th>
                                  <th scope="col">Nội dung</th>
                                  <th scope="col">Bài viết</th>
                                  <th scope="col">Xóa</th>
                              </tr>
                              </thead>
                        </table>
                        <div class="table-pagination">
                            <p>Showing 1 to 10 of 27</p>
                            <nav>
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only"></span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only"></span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>