
            <div class="container">
                <!-- Notification -->
                <div class="detail-notification">
                    <div class="main-posted__user">
                        <img src="{{{user.avatarUrl}}}" alt="Img" class="main-posted__user--img">
                        <div class="main-posted__user-info">
                            <h6 class="main-posted__user--name">{{{user.displayName}}}</h6>
                            <p class="main-posted__user--name-date">8 tháng 2 năm 2021 lúc 18:00</p>
                        </div>
                    </div>
                    <h4 class="detail-notification--title">
                        Thông báo khai giảng các khóa học ôn luyện Tiếng anh tháng 3/2021
                    </h4>
                    <!-- Nếu là sinh viên vào xem thì thêm class="sinhvien-xem" để bỏ đi -->
                    <p class="detail-notification--date">
                        TDT Creative Language Center | 03/02/2021
                    </p>
                    <div class="detail-notification-body">
                        <p class="detail-notification-body--content">
                            Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa học ngoại ngữ tháng 3/2021 tại CLC như sau:
                            Course	Duration
                            (Periods)	Level	Time
                            3 times/ week	Course fee
                            (VND)	Start date
                            IELTS Preparation
                            75	IELTS Foundation	17:45-20:00	3.750.000	23/03/2021
                            75	IELTS 5.0 - 5.5	17:45-20:00	3.750.000	23/03/2021
                            75	IELTS 5.5 - 6.0	17:45-20:00	3.750.000	23/03/2021
                            75	IELTS 6.0 - 6.5	17:45-20:00	5.500.000	23/03/2021
                            TOEIC Preparation
                            75	TOEIC Foundation	17:45-20:00	2.500.000	23/03/2021
                            75	TOEIC 550	17:45-20:00	2.500.000	23/03/2021
                            PET (B1) Preparation
                            75	B1 Foundation	17:45-20:00	2.500.000	23/03/2021
                            75	B1 Intensive	17:45-20:00	2.500.000	23/03/2021

                            Sinh viên scan mã bên dưới để đăng kí và đến văn phòng TT (E0012) để đóng học phí đúng thời hạn.

                            Thời hạn đăng ký và đóng phí: 16/03/2021
                            Mọi thắc mắc, SV vui lòng liên hệ văn phòng TT (E0012), sdt: (028) 3775 5064, email clc@tdtu.edu.
                        </p>
                    </div>
                    <img src="/img/Toàn cảnh TDTU.png" alt="Picture" class="detail-notification-body--picture">
                </div>
                <!-- End notification -->
                <!-- Attached files -->
                <div class="attached-files">
                    <h5>File đính kèm</h5>
                    <div class="attached-files-list">
                        <a href="#" class="attached-files-content">
                            1. 2021-thang-02-(20210203_083913_651).doc
                            <br>
                        </a>
                        <a href="#" class="attached-files-content">
                            2. bo-sung-lich-thi-cuoi-ky-hk1-2021-k24--20210122_041427_635(20210202_113111_167)_.xlsx
                            <br>
                        </a>
                    </div>
                </div>
                <!-- End attached files -->

                <!-- Comment -->
                <div class="detail-notification-comment">
                    <div class="comment">
                        <img src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="img" class="comment--img">
                        <textarea class="comment--write" placeholder="Viết bình luận" cols="90"></textarea>
                    </div>
                    <div class="comment-other">
                        <div class="comment-other__content">
                            <img src="https://photo-baomoi.zadn.vn/w700_r1/2019_11_25_329_33089213/4e07b5631420fd7ea431.jpg" alt="img" class="comment-other--img">
                            <div class="comment-other__box">
                                <h6 class="comment-other__box--username">Hoa Thành</h6>
                                <p class="comment-other__box--text">Hello
                                    Thái tử điện hạ.
                                    Vì người tử trận là vinh quang chí cao vô thượng của ta.
                                    Người ta thương vẫn còn trên đời này.
                                    Ta nguyện vĩnh viễn không siêu sinh.
                                    Ta sẽ trở lại. Điện hạ, chờ ta.
                                </p>
                            </div>
                        </div>
                        <div class="comment-other__reply-and-time">
                            <a href="#" class="comment-other__reply">Trả lời</a>
                            <span class="comment-other__reply-time">. 1 phút</span>
                        </div>
                    </div>
                    <a href="#" class="comment-readmore">Xem thêm 10 bình luận</a>
                </div>
                <!-- End comment -->
            </div>
        </div>
    </div>
