{{!-- input: user(người đang login) , posts(mảng các post) --}}

<div class="row">
    <div class="col-lg-3">
        {{> notifi-col}}
    </div>

    <div class="col-lg-9">
        <div class="container">
            <div class="main">
                {{> add-post user=user}}  
                
                {{#each posts}}
                {{> post-fb user=../user post=this}}
                {{/each}}
                
            </div>
        </div>
    </div>
</div>

{{!-------------- popup --------------}}
{{> post-detail-add}}
{{> post-detail-edit}}
{{> confirm-delete item-name="user Nguyễn Văn A" item-id="xxx"}}