{{!-- input: user(người đang login), pageOwner(người chủ của trang nhà) , posts(mảng các post) --}}

<div class="row">

    <div class="col-lg-3">
        {{> user-profile pageOwner=pageOwner}}
    </div>

    <div class="col-lg-9">
        <div class="container">
            <div class="main">
                <!-- Up post -->
                {{#ifEquals pageOwner.username user.username}} <!-- chỉ user mới được tải bài lên trang của mình -->
                {{> add-post user=pageOwner}}
                {{/ifEquals}}

                {{#each posts}}
                {{> post-fb user=user post=this}}
                {{else}}{{!-- sau này sẽ xóa else --}}
                {{> post-fb}}
                {{/each}}
                

            </div>
        </div>
    </div>

</div>
