{{!-- input: dpments(mảng các department) --}}

<div class="container">
    <div class="chuyenmuc-body">
        {{#each dpments}}
            {{> dpment-btn dpment=this}}
        {{/each}}
    </div>
</div>