:root {
    --bg-color: rgb(51, 72, 92);
    --white-color: rgb(255, 255, 255);
    --nav-color: #f1f1f1;
    --text-color: #343434;
    --blue-color: #CAE8FF;
    --text-color-primary: #0067AC;
    --red-color: #EE3125;
    --line-color: #cccccc;
    --gray-color: #868686;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-color);
}

/*====================== Login page ======================*/
.login-background {
    background-image: url(../img/Toàn\ cảnh\ TDTU.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
}

.login-frame {
    background-color: var(--bg-color);
    border-radius: 30px;
    width: 1000px;
    height: 600px;
    margin: auto;
    display:flex;
}

.space-line {
    border-right: 1px solid var(--white-color);
    height: 300px;
    margin: auto;
}

.login-img {
    display: flex;
    width: 500px;
}

.login-img__bg {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.login-form {
    width: 500px;
}

.login-title {
    text-align: center;
    color: var(--white-color);
    font-size: 3.75rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-form-group {
    margin-bottom: 20px;
    margin-left: 45px;
}

.login-username,
.login-password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white-color);
    outline: none; 
    width: 85%;
    padding-bottom: 5px;
    font-size: 1.1rem;
}

.login-username::placeholder,
.login-password::placeholder {
    color: var(--white-color);
    opacity: 0.8;
}

.login-username,
.login-password{
    color: var(--white-color);
}

.forgot-password {
    margin-left: 100px;
    margin-right: 30px;
}

.forgot-password a {
    text-decoration: none;
    color: var(--white-color);
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-with__google {
    margin: 30px 0 0 200px;
}

.btn {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 33px;
    width: 100px;
    font-weight: 500;
}

.btn:hover {
    color: var(--bg-color);
    background-color: var(--white-color);
    font-weight: 500;
}

.err-msg {
    color: var(--red-color);
}

/*============================= Home page ==========================*/
.col-sm-3, .col-sm-9 {
    padding: 0;
}
/* ------ Sidebar ------ */
.sidebar {
    height: 100vh;
    width: 360px;
    background-color: var(--nav-color);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

.sidebar-logo {
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.sidebar-username {
    text-align: center;
}

.sidebar-username__img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.sidebar-username__name {
    color: var(--text-color);
}

/* .not-admin {
    display: none;
} */

.sidebar-navbar__phong-khoa,
.sidebar-navbar__admin p,
.sidebar-navbar__admin--item {
    border-bottom: 1px solid var(--line-color);
    padding: 10px;
    padding-left: 40px;
    color: var(--bg-color);
    font-weight: 700;
}

.sidebar-navbar__admin p {
    margin: 0;
}

.sidebar-navbar__phong-khoa:hover,
.sidebar-navbar__admin p:hover,
.sidebar-navbar__admin--item:hover {
    background-color: var(--red-color);
    color: var(--white-color);
    cursor: pointer;
}

.sidebar-navbar__admin--item  {
    border-left: 1px solid var(--line-color);
}

.sidebar-navbar__phong-khoa-link,
.header-username-link,
.sidebar-navbar__admin--item-link {
    text-decoration: none;
}


/* .sidebar-navbar__btn--close, .sidebar-navbar__btn--open {
    text-decoration: none;
} */

.fa-bars {
    font-size: 36px;
    color: var(--white-color);
    margin-top: 30px;
    position: absolute;
    right: 50px;
    /* display: none; */
}

/* .sidebar-navbar__btn--close-img{
    transform: rotate(180deg);
    margin-left: 300px;
}

.sidebar-navbar__btn--close-img, 
.sidebar-navbar__btn--open-img {
    width: 40px;
    height: 40px;
} */

/* ------ Header ------ */
.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 30px;
}

.header-search {
    width: 380px;
    height: 40px;
    border-radius: 30px;
    margin: 30px;
    padding-left: 20px;
    outline: none;
    border: none;
    color: var(--bg-color);
}

.header-username {
    display: flex;
    margin: 30px 0 0 0;
}

.header-username__img,
.main-up-post-frame__username--img,
.main-posted__user--img,
.comment--img,
.comment-other--img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-username__name {
    color: var(--white-color);
    margin-left: 10px;
    margin-top: 7px;
}

.header-nav {
    display: flex;
    margin-right: 200px;
}

.header-nav__notification,
.header-nav__logout {
    margin: 30px 10px;
}

.header-nav__notification {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
}

.header-nav__notification::after {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    right: -20px;
    height: 20px;
    width: 150px;
    z-index: 2;
}

.header-nav__notification:hover .header-notification{
    display: block;
}

.header-nav__notification--logo,
.header-nav__logout--logo {
    width: 25px;
    height: 25px;
}

.header-nav__notification--number {
    color: var(--white-color);
    background-color: var(--red-color);
    border-radius: 3px;
    text-align: center;
    font-size: 0.8rem;
    position:relative;
    top: -30px;
    left: 12px;
}

/* ------- Main ------- */
.main {
    background-color: var(--nav-color);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 1px;
}

.main-up-post {
    background-color: var(--white-color);
    border-radius: 20px;
    width: 100%;
    height: 140px;
    /* margin-left: 15px; */
    padding-top: 0.1px;
}

.main-up-post-frame {
    background-color: var(--nav-color);
    border-radius: 20px;
    width: 95%;
    height: 100px;
    margin-left: 20px;
}

.main-up-post-frame__username {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 10px;
}

.main-up-post-frame__username--write {
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 7px;
    margin-left: 7px;
    margin-right: 20px;
}

.main-up-post-frame__choosen {
    display: flex;
    margin-top: 10px;
}

.main-up-post-frame__choosen-file,
.main-up-post-frame__choosen-video,
.main-up-post-frame__choosen-picture {
    margin-left: 15%;
}

.main-up-post-frame__choosen-file-link,
.main-up-post-frame__choosen-video-link,
.main-up-post-frame__choosen-picture-link {
    text-decoration: none;
}

.main-up-post-frame__choosen-file--img,
.main-up-post-frame__choosen-video--img,
.main-up-post-frame__choosen-picture--img,
.main-posted__user--edit,
.main-posted__user--delete {
    width: 25px;
    height: 25px;
}

.main-posted__user--edit {
    margin-right: 10px;
}

/* .main-posted__user--edit-link:hover ~ .edit-profile {
    display: block;
} */

.main-up-post-frame__choosen-file--text,
.main-up-post-frame__choosen-video--text,
.main-up-post-frame__choosen-picture--text {
    color: var(--text-color);
}

.main-posted {
    background-color: var(--white-color);
    border-radius: 20px;
    width: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 15px;
    padding-bottom: 20px;
}

.main-posted__user {
    display: flex;
    margin-left: 30px;
    padding-top: 20px;
}

.main-posted__user-info {
    margin-left: 10px;
}

.main-posted__user--name {
    margin: 0;
}

.main-posted__user--name-date {
    font-size: 0.7rem;
}

.main-posted__user--edit-and-delete {
    margin: 0 0 0 55%;
}

.main-posted__user--edit-link,
.main-posted__user--delete-link {
    text-decoration: none;
}

.main-posted__show {
    margin-top: 10px;
}

.main-posted__show-img {
    width: 100%;
    height: 400px;
}

.main-posted__content {
    margin-left: 30px;
    margin-top: 10px;
}

.main-posted__content-title {

}

.main-posted__content-content {
    color: var(--text-color);
}

hr {
    margin: 0;
}

.comment {
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 15px;
    display:flex;
}

.comment--write {
    resize: none;
    outline: none;
    overflow: hidden;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 7px;
    margin-left: 10px;
    height: 40px;
    border-color: var(--line-color);
}

.comment-other {
    /* display: flex; */
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.comment-other__content {
    display: flex;
}

.comment-other__box {
    border: 1px solid var(--line-color);
    border-radius: 10px;
    margin-left: 20px;
    width: 650px;
    background-color: var(--white-color);
}

.comment-other__box--username {
    margin: 10px 10px 0 10px;
}

.comment-other__box--text {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 0px 10px 10px 10px;
}

.comment-other__reply-and-time {
    margin-left: 100px;
}

.comment-other__reply {
    text-decoration: none;
    color: var(--bg-color);
    font-weight: 500;
    font-size: 0.9rem;
}

.comment-other__reply-time {
    color: var(--gray-color);
    font-size: 0.8rem;
}

.comment-readmore {
    margin: 0 0 0 70px;
    text-decoration: none;
    font-weight: 500;
    color: var(--bg-color);
}

.comment-readmore:hover,
.comment-other__reply:hover {
    color: var(--red-color);
}

.main-notification {
    border-top-right-radius: 0;
    border-radius: 20px;
    background-color: var(--nav-color);
    padding-bottom: 40px;
}

.main-notification__header,
.header-notification__header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.main-notification__header--title,
.header-notification__header--title {
    margin-left: 20px;
}

.main-notification__body--title-link,
.header-notification__body--title-link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--bg-color);
}

.main-notification__header--see-all,
.header-notification__header--see-all {
    margin-right: 30px;
}

.main-notification__header--see-all-link,
.header-notification__header--see-all-link {
    text-decoration: none;
    color: var(--bg-color);
}

.main-notification__header--see-all-link:hover,
.header-notification__header--see-all-link:hover {
    text-decoration: underline;
    color: var(--red-color);
}

.main-notification__body,
.header-notification__body {
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    margin-bottom: 3px;
}

.unread-notification {
    background-color: var(--blue-color);
}

.main-notification__body--name-and-time,
.header-notification__body--name-and-time {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0 10px;
    padding-top: 5px;
}

.main-notification__body--name,
.main-notification__body--time,
.header-notification__body--name,
.header-notification__body--time {
    color: var(--gray-color);
    font-size: 0.8rem;
    font-style: italic;
    margin: 0;
}

.main-notification__body--title,
.header-notification__body--title {
    margin: 5px 10px 0 10px;
    /* cursor: pointer; */
}

.main-notification__body--content,
.header-notification__body--content {
    font-size: 0.8rem;
    color: var(--text-color);
    margin: 5px 10px 0 10px;
}

/* ---------------- Header notification -------------- */
.header-notification {
    width: 350px;
    padding-bottom: 40px;
    position: absolute;
    right: -20px;
    top: 45px;
    background-color: var(--nav-color);
    border-radius: 10px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0,0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    /* cursor: default; */
}

.header-notification::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--nav-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

/*======================== All notification ======================*/
.notification-body,
.chuyenmuc-body,
.admin-body {
    background-color: var(--nav-color);
    border-radius: 20px;
    padding-top: 0.1px;
    padding-bottom: 5px;
}

.notification-body__filter {
    background-color: var(--bg-color);
    border-radius: 20px;
    width: 96%;
    margin: 20px;
    padding-top: 0.1px;
}

.notification-body__filter--1 {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.notification-body__filter--search {
    border-radius: 30px;
    outline: none;
    border: none;
    height: 3em;
    width: 400px;
    padding-left: 20px;
}

/* Thiết kẻ thẻ select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

.notification-body__filter--chuyenmuc {
    position: relative;
    display: flex;
    /* width: 20em; */
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: 30px;
}
select {
    padding: 0 40px 0 30px;
    cursor: pointer;
}
/* thiết kế dấu mũi tên */
.notification-body__filter--chuyenmuc::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: var(--bg-color);
}

.notification-body__filter--2 {
    display: flex;
    padding-bottom: 20px;
    margin: 0px 30px;
    justify-content: space-between;
}

.notification-body__filter-check {

}

.notification-body__filter-check-label {
    color: var(--white-color);
    margin-left: 5px;
}

.notification-body__filter-fromDate,
.notification-body__filter-toDate {

}

.notification-body__filter-fromDate-label,
.notification-body__filter-toDate-label {
    color: var(--white-color);
    margin-right: 10px;
}

.notification-body__filter-fromDate-input,
.notification-body__filter-toDate-input {
    border-radius: 5px;
    outline: none;
    border: none;
    height: 30px;
    padding: 0 20px;
}

.notification-body__filter-delete,
.notification-body__filter-search {
    width: 70px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: var(--bg-color);
    font-weight: 700;
}

.notification-body__all {

}

.notification-body--item {
    background-color: var(--white-color);
    margin: 0 20px 10px 20px;
    border-radius: 20px;
}

.notification-body--item-title-link {
    text-decoration: none;
    color: var(--bg-color);
    text-transform: uppercase;
}

.notification-body--item-title {
    padding: 20px 20px 5px 20px;
    margin: 0;
}

.notification-body--item-content {
    color: var(--text-color);
    padding: 0 20px;
    margin: 0;
}

.notification-body--item-date {
    color: var(--gray-color);
    font-size: 0.9rem;
    text-align: end;
    padding: 0 20px 20px 0;
    margin: 0px;
}

/* =================== Detail notification =============== */
.detail-notification {
    background-color: var(--nav-color);
    border-radius: 20px;
    padding: 30px 0;
    margin-bottom: 20px;
}

.detail-notification--title {
    text-align: center;
    font-weight: 700;
    color: var(--bg-color);
    margin-bottom: 30px;
}

.sinhvien-xem {
    display: none;
}

.detail-notification--date {
    text-align: end;
    color: var(--gray-color);
    font-style: italic;
    font-size: 0.9rem;
    margin-right: 50px;
}

.detail-notification-body {
    background-color: var(--white-color);
    border-radius: 20px;
    width: 96%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.detail-notification-body--content {
    margin: 0 30px;
    padding: 30px 0;
}

.detail-notification-body--picture {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    display: block;
}

.attached-files {
    background-color: var(--nav-color);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.attached-files h5 {
    color: var(--bg-color);
}

.attached-files-content {
    text-decoration: none;
    color: var(--gray-color);
}

.attached-files-content:hover {
    color: var(--red-color);
}

.detail-notification-comment {
    background-color: var(--nav-color);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
}

/* =================== Personal info =============== */
.profile-user {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px 0;
}

.profile-user__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile-user__name {
    color: var(--text-color-primary);
    text-align: center;
    font-weight: 700;
    margin-top: 5px;
}

.profile-user__title {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.profile-user__title h6 {
    font-weight: 700;
}

.profile-user__edit-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

.profile-user__edit-link:hover {
    color: var(--text-color-primary);
}

.profile-user__edit-img {
    width: 20px;
    height: 20px;
}

.profile-user__info ul li {
    list-style: none;
    margin-top: 10px;
    padding: 0 5px;
}

.profile-user__info-img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* ------------------ Edit profile, post ---------------- */
.edit-profile,
.edit-content,
.upload-post,
.upload-post-home,
.edit-info,
.edit-info-phongKhoa,
.add-account {
    background-color: var(--bg-color);
    border: 3px solid var(--red-color);
    width: 1000px;
    position: absolute;
    top: 110px;
    left: 280px;
    padding-bottom: 30px;
    border-radius: 20px;
    display: none;
    animation: headerNotifyGrowth ease-in-out 0.5s;
}

.upload-post {
    top: 50px;
}

.edit-content {
    top: 70px;
}

.edit-info {
    top: 200px;
}

.edit-profile__header,
.edit-content__header,
.upload-post__header,
.edit-info__header,
.add-account__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 10px;
    text-align: center;
}

.edit-profile__header--logo,
.edit-content__header--logo,
.upload-post__header--logo,
.edit-info__header--logo,
.add-account__header--logo {
    width: 100px;
    margin-left: 50px;
}

.edit-profile__header--text,
.edit-content__header--text,
.upload-post__header--text,
.edit-info__header--text,
.add-account__header--text {
    color: var(--white-color);
    margin-top: 30px;
}

.edit-profile__header--close,
.edit-content__header--close,
.upload-post__header--close,
.upload-post-home__header--close,
.edit-info__header--close,
.add-account__header--close {
    width: 50px;
    height: 50px;
    margin: 20px 30px 0 0;
}

.edit-profile__body,
.edit-content__body,
.upload-post__body,
.edit-info__body,
.add-account__body {
    margin-top: 20px;
}

.edit-profile__body--edit,
.edit-content__body--edit,
.upload-post__body--create,
.edit-info__body--edit,
.add-account__body--add {
    display: flex;
    margin-bottom: 20px;
}

.edit-content__body--edit div::after {
    content: "\25BC";
    display: block;
    position: absolute;
    top: 168px;
    right: 130px;
    color: var(--bg-color);
}

.upload-post__body--create div::after {
    content: "\25BC";
    display: block;
    position: absolute;
    top: 430px;
    right: 130px;
    color: var(--bg-color);
}

.edit-profile__body--edit-name,
.edit-profile__body--edit-khoa,
.edit-profile__body--edit-lop,
.edit-profile__body--edit-img,
.edit-profile__body--edit-background,
.edit-profile__body--edit-born-place,
.edit-profile__body--edit-live-place,
.edit-content__body--edit-name,
.edit-content__body--edit-chuyenmuc,
.edit-content__body--edit-background,
.edit-content__body--edit-content,
.upload-post__body--create-title,
.upload-post__body--upload-post,
.upload-post__body--create-chuyenmuc,
.upload-post__body--create-file,
.upload-post__body--create-video,
.upload-post__body--create-background,
.edit-content__body--edit-file,
.edit-info__body--edit-account,
.edit-info__body--edit-password,
.edit-info__body--edit-chuyenmuc,
.add-account__body--add-account,
.add-account__body--add-password,
.add-account__body--add-displayName,
.add-account__body--add-chuyenmuc,
.add-account__body--add-background {
    color: var(--white-color);
    font-weight: 600;
    margin-left: 250px;
    flex: 1;
}

.edit-content__body--edit-name,
.edit-content__body--edit-chuyenmuc,
.edit-content__body--edit-background,
.edit-content__body--edit-content,
.upload-post__body--create-title,
.upload-post__body--upload-post,
.upload-post__body--create-chuyenmuc,
.upload-post__body--create-file,
.upload-post__body--create-video,
.upload-post__body--create-background,
.edit-content__body--edit-file {
    margin-left: 100px;
}

.edit-profile__body--edit-name-input,
.edit-profile__body--edit-khoa-input,
.edit-profile__body--edit-lop-input,
.edit-profile__body--edit-born-place-input,
.edit-profile__body--edit-live-place-input,
.edit-content__body--edit-name-input,
.upload-post__body--create-title-input,
.edit-info__body--edit-account-input,
.edit-info__body--edit-password-input,
.add-account__body--add-account-input,
.add-account__body--add-password-input,
.add-account__body--add-displayName-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white-color);
    outline: none; 
    width: 400px;
    padding-bottom: 5px;
    color: var(--white-color);
    margin-right: 200px;
}

.edit-content__body--edit-name-input,
.upload-post__body--create-title-input {
    margin-right: 120px;
    width: 600px;
}

.edit-content__body--edit-chuyenmuc-selected,
.upload-post__body--create-chuyenmuc-selected {
    margin-right: 120px;
    width: 600px;
}

.add-account__body--add-chuyenmuc-selected {
    margin-right: 200px;
    width: 400px;
}

.edit-content__body--edit-content-input,
.upload-post__body--upload-post-input {
    background-color: transparent;
    border: 1px solid var(--white-color);
    position: relative;
    right: 120px;
    color: var(--white-color);
    resize: none;
    outline: none;
    padding-left: 10px;
}

/*---- Input file image ----*/

.inputfile {
    display: none;
}
  
.edit-profile__body--edit-img-input {
    position: absolute;
    left: 400px;
    top: 265px;
    width: 400px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    height: calc(2rem - 2px);
}

.edit-profile__body--edit-imgBackground-input {
    position: absolute;
    left: 400px;
    top: 310px;
    width: 400px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color); 
    height: calc(2rem - 2px);
}

.edit-content__body--edit-imgBackground-input {
    position: absolute;
    left: 280px;
    top: 200px;
    width: 600px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color); 
    height: calc(2rem - 2px);
}

.edit-content__body--edit-file-input {
    position: absolute;
    left: 280px;
    top: 250px;
    width: 600px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color); 
    height: calc(2rem - 2px);
}

.upload-post__body--create-file-input {
    position: absolute;
    left: 280px;
    top: 465px;
    width: 600px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color); 
    height: calc(2rem - 2px);
}

.upload-post__body--create-video-input {
    position: absolute;
    left: 280px;
    top: 510px;
    width: 600px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color); 
    height: calc(2rem - 2px);
}

.upload-post__body--create-imgBackground-input {
    position: absolute;
    left: 280px;
    top: 555px;
    width: 600px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color); 
    height: calc(2rem - 2px);
}

.add-account__body--add-imgBackground-input {
    position: absolute;
    left: 395px;
    top: 260px;
    width: 400px;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color); 
    height: calc(2rem - 2px);
}

.add-account__body--add-imgBackground-btn {
    position: absolute;
    top: 260px;
    right: 210px;
}
  
.edit-profile__body--edit-img-btn {
    position: absolute;
    top: 260px;
    right: 200px;
}

.edit-profile__body--edit-imgBackground-btn {
    position: absolute;
    top: 305px;
    right: 200px;
}

.edit-content__body--edit-imgBackground-btn {
    position: absolute;
    top: 200px;
    right: 140px;
}

.edit-content__body--edit-file-btn {
    position: absolute;
    top: 250px;
    right: 140px;
}

.upload-post__body--create-file-btn {
    position: absolute;
    top: 460px;
    right: 140px;
}

.upload-post__body--create-video-btn img {
    position: absolute;
    top: 510px;
    right: 140px;
}

.upload-post__body--create-imgBackground-btn {
    position: absolute;
    top: 550px;
    right: 140px;
}

.edit-profile__body--edit-img-btn img,
.edit-profile__body--edit-imgBackground-btn img,
.edit-content__body--edit-imgBackground-btn img,
.upload-post__body--create-file-btn img,
.upload-post__body--create-video-btn img,
.upload-post__body--create-imgBackground-btn img,
.edit-content__body--edit-file-btn img,
.add-account__body--add-imgBackground-btn img {
    width: 25px;
    height: 25px;
}
/* ------- End input file image ------- */

.edit-profile__btnSave,
.edit-content__btnSave,
.upload-post__btnSave,
.btn-change-password,
.edit-info__btnSave {
    outline: none;
    padding: 7px 30px;
    border: 1px solid var(--white-color);
    border-radius: 30px;
    background-color: transparent;
    color: var(--white-color);
    font-weight: 600;
    margin: 10px 0 0 750px;
}

.edit-profile__btnSave:hover,
.edit-content__btnSave:hover,
.upload-post__btnSave:hover,
.btn-change-password:hover,
.edit-info__btnSave:hover {
    background-color: var(--white-color);
    color: var(--bg-color);
}

/* =================== Phòng ban =============== */
.chuyenmuc-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chuyenmuc--link {
    text-decoration: none;
}

.chuyenmuc:hover{
    transform:scale(1.1);
}

.chuyenmuc {
    background-color: var(--white-color);
    border: 1px solid var(--bg-color);
    position: relative;
    margin: 10px 0;
    width: 200px;
    height: 150px;
}

.chuyenmuc img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto auto;
}

.chuyenmuc h6 {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 7px;
    color: var(--white-color);
    background-color: var(--bg-color);
    border-radius: 0px 0px 5px 0;
    text-align: center;
}

.chuyenmuc__thongbao--unread {
    position: absolute;
    left: -10px;
    top: 130px;
    background-color: red;
    color: var(--white-color);
    padding: 2px 5px;
    border-radius: 30px;
}

/* ====================== Admin =================== */
.admin-body {
    padding-bottom: 50px;
}

.admin-body__header {
    display: flex;
    justify-content: space-between;
}

.add-img {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    margin-top: 12px;
}

.add-img:hover {
    cursor: pointer;
}

.admin-body__title {
    color: var(--bg-color);
    margin: 10px 20px;
}

.admin-body__table {
    border: 1px solid var(--bg-color);
    margin: 0 10px;
    border-radius: 5px;
}

.admin-body__table h6 {
    color: var(--text-color-primary);
    padding: 10px 20px;
    font-weight: 700;
    background-color: var(--blue-color);
    border-radius: 5px;
    border-bottom: 1px solid var(--bg-color);
}

.admin-body__table--show {
    margin: 0 30px;
}

.admin-body__table--show input {
    width: 300px;
    outline: none;
    border-radius: 30px;
    border: none;
    padding: 3px 20px;
    margin-left: 500px;
}

/* .admin-body__table--show::after {
    content: "\25BC";
    display: block;
    color: var(--text-color-primary);
    position: absolute;
    left: 550px;
    top: 206px;
} */

.user-name,
.user-content {
    text-overflow: ellipsis;
}

.user-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.trash-img {
    width: 20px;
    height: 20px;
}

.trash-link {
    text-decoration: none;
}

.table-pagination {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding-bottom: 20px;
}

.table-pagination p {
    color: var(--gray-color);
}

/* --------------- Chỉnh sửa thông tin ------------- */
.list-chuyenmuc {
    border: 1px solid var(--white-color);
    width: 800px;
    height: 150px;
    padding: 15px 20px;
    margin-left: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* =================== Animation =============== */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


/*====================== Responsive =======================*/

@media (max-width: 1410px) {
    .sidebar {
        width: 350px;
    }
}

@media (max-width: 1380px) {
    /* ===================== Admin page ================== */
    .sidebar {
        width: 310px;
    }

    .sidebar-logo {
        margin-left: 80px;
    }

    .admin-body__table--show input {
        width: 300px;
        margin-left: 200px;
    }

    .edit, .create-post,
    .add-account {
        left: 100px;
        width: 1000px;
    }

    .main-posted__user--edit-and-delete {
        margin: 0 0 0 45%;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* ======= Log in page ======= */
    .login-frame {
        width: 800px;
    }

    .login-img__bg {
        width: 300px;
        height: 300px;
    }

    .forgot-password {
        margin-left: 70px;
    }

    /* ================ Admin page================ */
    .sidebar {
        width: 260px;
    }

    .sidebar-logo {
        margin-left: 60px;
    }

    .header-nav {
        margin-right: 50px;
    }

    .sidebar-navbar__phong-khoa,
    .sidebar-navbar__admin,
    .sidebar-navbar__admin--item {
        padding-left: 10px;
    }

    .edit, .create-post,
    .add-account {
        left: 30px;
        width: 900px;
    }

    .edit-title,
    .create-title {
        margin-left: 150px;
        margin-right: 70px;
    }

    .edit-profile__btnSave,
    .edit-content__btnSave,
    .upload-post__btnSave,
    .btn-change-password,
    .edit-info__btnSave {
        margin-left: 320px;
    }

    .btn-change-password {
        margin-left: 300px;
    }

    .list-chuyenmuc {
        width: 600px;
    }

    .edit-profile__body--edit-img-input,
    .edit-profile__body--edit-imgBackground-input {
        left: 295px;
    }

    .edit-content__body--edit-content-input {
        margin-top: 60px;
        height: 150px;
    }

    .edit-content__body--edit-chuyenmuc-selected {
        width: 525px;
        position: absolute;
        left: 250px;
    }

    .edit-content__body--edit-imgBackground-input {
        top: 215px;
        left: 250px;
        width: 525px;
    }

    .edit-content__body--edit-imgBackground-btn {
        top: 215px;
    }

    .edit-content__body--edit-file-input,
    .edit-content__body--edit-file-btn {
        top: 270px;
        left: 250px;
        width: 525px;
    }

    .edit-content__body--edit-file-btn {
        left: 730px;
    }

    .upload-post__body--upload-post-input {
        margin-left: 115px;
    }

    .upload-post__body--create-file-input,
    .upload-post__body--create-file-btn {
        top: 510px;
    }

    .upload-post__body--create-video-input {
        top: 560px;
    }

    .upload-post__body--create-video-btn {
        top: 700px;
    }

    .upload-post__body--create-imgBackground-input,
    .upload-post__body--create-imgBackground-btn {
        top: 610px;
    }

    .main-posted__user--edit-and-delete {
        margin: 0 0 0 35%;
    }

    .login-with__google {
        margin: 30px 0 0 130px;
    }

    .detail-notification-body {
        margin-left: 14px;
    }

    .add-account__body--add-account-input,
    .add-account__body--add-password-input,
    .add-account__body--add-displayName-input,
    .add-account__body--add-imgBackground-input,
    .add-account__body--add-chuyenmuc-selected {
        width: 320px;
    }

    .add-account__body--add-imgBackground-input {
        left: 375px;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
    /* ======= Log in page ======= */ 
    .login-frame {
        width: 600px;
    }

    .login-img__bg {
        width: 250px;
        height: 250px;
    }

    .forgot-password {
        margin-left: 90px;
    }

    .btn {
        margin: 20px 0 0 100px;
    }

    .login-with__google {
        margin: 30px 0 0 90px;
    }

    /* ================ Admin page================ */
    .body {
        margin-left: 0px;
    }

    .col-sideBar {
        width: 100%;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: 70px;
    }

    .sidebar-navbar {
        background-color: antiquewhite;
    }

    .sidebar-navbar__admin--block {
        background-color: var(--nav-color);
        width: 250px;
        border-radius: 5px;
        border: 1px solid var(--red-color);
        position: absolute;
        top: 50px;
        left: 400px;
        display: none;
        z-index: 2;
    }

    .sidebar-navbar__phong-khoa,
    .sidebar-navbar__admin p,
    .sidebar-navbar__admin--item {
        position: absolute;
        border: none;
        top: 10px;
    }

    .sidebar-navbar__phong-khoa:hover,
    .sidebar-navbar__admin p:hover,
    .sidebar-navbar__admin--item:hover {
        background-color: transparent;
        color: var(--red-color);
    }

    .sidebar-navbar__admin--item {
        border: none;
        margin: 0;
        padding-left: 30px;
        font-size: 0.9rem;
    }

    .sidebar-navbar__phong-khoa {
        left: 200px;
        font-size: 1.2rem;
    }

    .item-tkphong {

    }

    .sidebar-navbar__admin p{
        left: 350px;
        font-size: 1.2rem;
    }

    .sidebar-navbar__admin:hover .sidebar-navbar__admin--block {
        display: block;
    }

    .sidebar-username__img,
    .sidebar-username__name {
       display: none;
    }

    .admin-body {
        width: 720px;
    }

    .sidebar-logo {
        margin-left: 50px;
        height: 60px;
    }

    .header-nav {
        margin-right: 0px;
    }

    .admin-body__table--show input {
        width: 200px;
        margin-left: 200px;
    }

    .edit, .create-post,
    .add-account {
        left: 10px;
        width: 750px;
    }

    .edit-profile__body--edit-img-input,
    .edit-profile__body--edit-imgBackground-input {
        left: 250px;
        width: 300px;
    }

    .edit-profile__body--edit-img-input,
    .edit-profile__body--edit-img-btn {
        top: 280px;
    }

    .edit-profile__body--edit-imgBackground-input,
    .edit-profile__body--edit-imgBackground-btn {
        top: 330px;
    }

    .edit-content__body--edit-chuyenmuc-selected {
        width: 380px;
        position: absolute;
        left: 250px;
    }

    .edit-content__body--edit-imgBackground-input {
        top: 215px;
        left: 250px;
        width: 380px;
    }

    .edit-content__body--edit-imgBackground-btn {
        top: 215px;
    }

    .edit-content__body--edit-file-input,
    .edit-content__body--edit-file-btn {
        top: 265px;
        left: 250px;
        width: 380px;
    }

    .edit-content__body--edit-file-btn {
        left: 580px;
    }

    .edit-content__body--edit-content-input {
        margin-top: 60px;
        height: 150px;
    }

    .upload-post__body--upload-post-input {
        margin-left: 115px;
    }

    .upload-post__body--create-chuyenmuc-selected,
    .upload-post__body--create-file-input,
    .upload-post__body--create-imgBackground-input,
    .upload-post__body--create-video-input {
        width: 400px;
        margin-left: -20px;
    }

    .upload-post__body--create-file-input,
    .upload-post__body--create-file-btn {
        top: 510px;
    }

    .upload-post__body--create-video-input {
        top: 560px;
    }

    .upload-post__body--create-video-btn {
        top: 700px;
    }

    .upload-post__body--create-imgBackground-input,
    .upload-post__body--create-imgBackground-btn {
        top: 610px;
    }

    .main {
        border-radius: 20px;
    }

    .main-notification,
    .profile-user {
        width: 673px;
        display: block;
        margin: 20px auto;
        border-radius: 20px;
    }

    .main-posted__user--edit-and-delete {
        margin: 0 0 0 45%;
    }

    .detail-notification-body {
        margin-left: 12px;
    }

    .add-account {
        margin-left: 80px;
    }

    .add-title {
        margin-left: 200px;
    }

    .add-account__body--add-account-input,
    .add-account__body--add-password-input,
    .add-account__body--add-displayName-input,
    .add-account__body--add-imgBackground-input,
    .add-account__body--add-chuyenmuc-selected {
        width: 240px;
    }

    .add-account__body--add-imgBackground-input {
        left: 305px;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* ======= Log in page ======= */
    .login-frame {
        width: 500px;
    }

    .login-img__bg {
        width: 200px;
        height: 200px;
    }

    .login-img, .space-line {
        display: none;
    }

    .forgot-password {
        margin-left: 100px;
    }

    .btn {
        margin: 0;
    }

    .login-with__google {
        margin: 30px 0 0 200px;
    }

    /* ================ Admin page ================ */
    .body {
        margin-left: 0px;
    }

    .admin-body {
        width: 550px;
    }

    .admin-body__table--show input {
        margin-left: 100px;
    }

    .header-nav {
        margin-right: 0px;
    }

    .sidebar-navbar__admin p{
        left: 290px;
    }

    .header-search {
        width: 200px;
    }

    .sidebar-navbar__phong-khoa {
        left: 180px;
    }

    .sidebar-navbar__admin {
        left: 300px;
    }

    .sidebar-username{
        display: none;
    }

    .sidebar-navbar__admin--block {
        left: 300px;
    }

    .edit, .create-post,
    .add-account {
        left: 0px;
        width: 580px;
    }

    .edit-title,
    .create-title {
        margin-left: 100px;
    }

    .edit-profile__btnSave,
    .edit-content__btnSave,
    .upload-post__btnSave,
    .btn-change-password,
    .edit-info__btnSave {
        margin-left: 230px;
    }

    .btn-change-password {
        margin-left: 200px;
    }

    .list-chuyenmuc {
        width: 450px;
    }

    .edit-profile__body--edit-img-input,
    .edit-profile__body--edit-imgBackground-input {
        left: 195px;
        width: 200px;
    }

    .edit-profile__body--edit-img-input,
    .edit-profile__body--edit-img-btn {
        top: 315px;
    }

    .edit-profile__body--edit-imgBackground-input,
    .edit-profile__body--edit-imgBackground-btn {
        top: 365px;
    }

    .edit-content__body--edit-chuyenmuc-selected {
        width: 250px;
        position: absolute;
        left: 200px;
    }

    .edit-content__body--edit-imgBackground-input {
        top: 245px;
        left: 200px;
        width: 250px;
    }

    .edit-content__body--edit-imgBackground-btn {
        top: 245px;
    }

    .edit-content__body--edit-file-input,
    .edit-content__body--edit-file-btn {
        top: 295px;
        left: 200px;
        width: 250px;
    }

    .edit-content__body--edit-file-btn {
        left: 410px;
    }

    .edit-content__body--edit-content-input {
        margin-top: 60px;
        height: 150px;
    }

    .upload-post__body--create-chuyenmuc-selected {
        width: 300px;
    }

    .upload-post__body--create-file-input,
    .upload-post__body--create-imgBackground-input,
    .upload-post__body--create-video-input {
        width: 300px;
        margin-left: -70px;
    }

    .upload-post__body--create-file-input,
    .upload-post__body--create-file-btn {
        top: 510px;
    }

    .upload-post__body--create-video-input {
        top: 560px;
    }

    .upload-post__body--create-video-btn {
        top: 700px;
    }

    .upload-post__body--create-imgBackground-input,
    .upload-post__body--create-imgBackground-btn {
        top: 610px;
    }

    .main-notification,
    .profile-user {
        width: 495px;
        margin: 20px auto;
    }

    .main-posted__user--edit-and-delete {
        margin: 0 0 0 35%;
    }

    .notification-body__filter {
        width: 92%;
    }

    .notification-body__filter--2 {
        margin: 0 10px;
    }

    .notification-body__filter-check {
        padding: 0;
    }

    .notification-body__filter-fromDate-input,
    .notification-body__filter-toDate-input {
        width: 130px;
    }

    .detail-notification-body {
        margin-left: 10px;
    }

 }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* ======= Log in page ======= */
    .login-frame {
        width: 400px;
    }

    .login-img__bg {
        width: 150px;
        height: 150px;
    }

    .login-img, .space-line {
        display: none;
    }

    .forgot-password {
        margin-left: 70px;
    }

    .btn {
        margin: 0;
    }

    .login-with__google {
        margin: 30px 0 0 140px;
    }

    .detail-notification-body {
        margin-left: 8px;
    }

    /*================ Admin page ===============  */

    .admin-body {
        width: 480px;
    }

    .admin-body__table--show input {
        margin-left: 50px;
    }

    .sidebar-navbar__admin--block {
        left: 200px;
    }

    .edit, .create-post, .add-account {
        width: 500px;
    }

    .edit-profile__btnSave,
    .edit-content__btnSave,
    .upload-post__btnSave,
    .btn-change-password,
    .edit-info__btnSave {
        margin-left: 200px;
    }

    .btn-change-password {
        margin-left: 170px;
    }

    .list-chuyenmuc {
        width: 300px;
    }

    .edit-profile__body--edit-img-input,
    .edit-profile__body--edit-img-btn {
        top: 305px;
    }

    .edit-profile__body--edit-img-btn,
    .edit-profile__body--edit-imgBackground-btn {
        left: 350px;
    }

    .edit-profile__body--edit-imgBackground-input,
    .edit-profile__body--edit-imgBackground-btn {
        top: 355px;
    }

    .edit-content__body--edit-chuyenmuc-selected {
        width: 200px;
        position: absolute;
        left: 200px;
    }

    .edit-content__body--edit-imgBackground-input {
        top: 245px;
        left: 200px;
        width: 200px;
    }

    .edit-content__body--edit-imgBackground-btn {
        top: 245px;
    }

    .edit-content__body--edit-file-input,
    .edit-content__body--edit-file-btn {
        top: 295px;
        left: 200px;
        width: 200px;
    }

    .edit-content__body--edit-file-btn {
        left: 330px;
    }

    .edit-content__body--edit-content-input {
        margin-top: 60px;
        height: 150px;
    }

    .upload-post__body--create-chuyenmuc-selected {
        width: 250px;
    }

    .upload-post__body--create-file-input,
    .upload-post__body--create-imgBackground-input,
    .upload-post__body--create-video-input {
        width: 250px;
        margin-left: -70px;
    }

    .upload-post__body--create-file-input,
    .upload-post__body--create-file-btn {
        top: 490px;
    }

    .upload-post__body--create-file-btn,
    .upload-post__body--create-imgBackground-btn {
        left: 400px;
    }

    .upload-post__body--create-video-input {
        top: 540px;
    }

    .upload-post__body--create-imgBackground-input,
    .upload-post__body--create-imgBackground-btn {
        top: 590px;
    }

    .main-notification,
    .profile-user {
        width: 436px;
        margin: 20px auto;
    }

    .main-posted__user--edit-and-delete {
        margin: 0 0 0 30%;
    }
    
    .notification-body__filter-fromDate,
    .notification-body__filter-toDate {
        margin-right: 5px;
    }

}




