{{!-- input: posts(mảng các post) --}}

    <!-- Notification -->
<div class="notification-body">
    <!-- Filter notification -->
    <form class="notification-body__filter" method="get" action="/notifications">
        <div class="notification-body__filter--1">
            <input id="search" name="search" type="text" class="notification-body__filter--search" placeholder="Tìm kiếm thông báo">
            <div class="notification-body__filter--chuyenmuc">
                <select name="dpment">
                    <option value="Phong/Khoa">Chọn Phòng/Khoa</option>
                    {{#each department}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            
        </div>
        <div class="notification-body__filter--2">
            <div class="form-check notification-body__filter-check">
                <input onclick="checkAddress(this)" name="hideSeen" id="checkRead" class="notification-body__filter-check-input" type="checkbox">
                <label class="notification-body__filter-check-label" for="unReadNotification">
                    Chưa xem
                </label>
            </div>
            <div class="notification-body__filter-fromDate">
                <label class="notification-body__filter-fromDate-label" for="unReadNotification">
                    Từ ngày
                </label>
                <input class="notification-body__filter-fromDate-input" id="fromDate" type="date" name="from">
            </div>
            <div class="notification-body__filter-toDate">
                <label class="notification-body__filter-toDate-label" for="unReadNotification">
                    Đến ngày
                </label>
                <input class="notification-body__filter-toDate-input" id="toDate" type="date" name="to">
            </div>
            <input type="reset" class="notification-body__filter-delete" value="Xóa"/>
            <input type="submit" class="notification-body__filter-search" value="Tìm kiếm" />
        </div>

    </form>
    <!-- End filter notification -->

    <!-- All notification -->
    <div class="notification-body__all">

        {{!-- {{#each posts}}
        {{> post-notifi post=this}} 
        {{/each}} --}}

        {{#each unreadPosts}}
        {{> post-notifi unread=this}}
        {{/each}}
    </div>
    <!-- End all notification -->
</div>
<!-- End notification -->
    
