{{!-- input: user(người đang login) , posts(mảng các post) , unreadNotifis (các post chưa đọc hiện lên notification) --}}

<div class="row">
    <div class="col-xl-3 col-lg-12">
        {{> notifi-col unreadNotifis=unreadNotifis}}
    </div>

    <div class="col-xl-9 col-lg-12">
        {{> add-post user=user}} 
                    
        <div class="main" data-current-page="1" data-offset="0">
            {{!-- {{#each posts}}
            {{> post-fb user=../user post=this}}
            {{/each}} --}}
        </div>
    </div>
</div>

{{!-------------- popup --------------}}
{{> post-detail-add}}
{{> post-detail-edit}}
{{> confirm-delete}}