<div class="login">
    <div class="login-background">
        <div class="login-frame">
            <div class="login-img">
                <img src="/img/tdtu-2.png" alt="TDTU" class="login-img__bg">
            </div>
            <span class="space-line"></span>
            <form class="login-form" action="/login" method="post">
                <p class="login-title">Log in</p>
                <div class="login-form-group">
                    <input class="login-username" type="text" placeholder="Username" value="{{username}}" name="username">
                </div>
                <div class="login-form-group">
                    <input class="login-password" type="password" placeholder="Password" value="{{password}}" name="password">
                </div>
                <span class="forgot-password">
                    <a href="#">
                        Forgot password?
                    </a>
                </span>
                <button class="btn btn-outline-light login-btn">SIGN IN</button>
                <div class="g-signin2 login-with__google" data-onsuccess="onSignIn"></div>
                <br>
                <div class="login-form-group">
                    <p class="err-msg">{{errMsg}}</p> 
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal lỗi không phải email sinh viên -->
<div id="wrong-email-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Không phải Email của sinh viên
                </h4>                
            </div>
            <div class="modal-body">
                Email phải có dạng [MSSV]@student.tdtu.edu.vn
                VD: 51800001@student.tdtu.edu.vn
            </div>            
        </div>
    </div>
</div>

<!-- Modal đổi mật khẩu khi đăng nhập bằng mail sinh viên lần đầu tiên -->
<div id="set-pass-modal" class="modal" tabindex="-1" role="dialog">
    <form action="/">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đặt mật khẩu</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newPassword">Mật khẩu mới</label>
                        <input type="password" id="newPassword" class="form-control" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Xác thực mật khẩu mới</label>
                        <input type="password" id="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu">
                    </div>
                    <p id="set-pass-err-msg" class="err-msg"></p> 
                </div>
                <div class="modal-footer">
                    <button id="confirm-set-pass" type="submit" class="btn btn-primary" data-username="xxx" data-displayName="xxx" data-imageUrl="xxx" >Xác nhận</button>
                </div>
            </div>
        </div>
    </form>
</div>
