{{!-- input: user(người đang login), pageOwner(người chủ của trang nhà) , posts(mảng các post) --}}

<div class="row">
    <div class="col-xl-3 col-lg-12">
        {{> user-profile pageOwner=pageOwner}}
    </div>

    <div class="col-xl-9 col-lg-12">        
        {{#ifEquals pageOwner.username user.username}} <!-- chỉ user mới được tải bài lên trang của mình -->
        {{> add-post user=pageOwner}}
        {{/ifEquals}}
        <div class="main" data-current-page="1" data-offset="0">
            {{!-- {{#each posts}}
            {{> post-fb user=../user post=this}}
            {{/each}} --}}

        </div>
    </div>
</div>

{{!-------------- popup --------------}}
{{> user-profile-edit}}
{{> post-detail-add}}
{{> post-detail-edit}}
{{> confirm-delete}}