{{!-- input: user(người đang login), comments --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
    comments:[],
--}}
{{> share-with-client/add-comment user=user}}
{{#each comments}}
{{> share-with-client/comment comment=this}}{{!-- chưa test trùng tên biến comment --}}
{{/each}}

<a href="#" class="comment-readmore">Xem thêm 10 bình luận</a>