{{!-- input: user(người đang login) --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    }
--}}

<form class="comment" action="/" method="POST">
    <a href="/{{user.username}}" >
        <img src="{{{user.avatarUrl}}}" alt="img" class="comment--img">
    </a>    
    <input class="comment--write" placeholder="Viết bình luận" name="cmt">
</form>
