{{!-- input: user(người đang login), comments, total(tổng số comment), current(số comment đã hiện) --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
    comments:[],
    total: 0,
    current: 0,

--}}
{{> add-comment user=user}}
<div class="other-comment-section">
    {{#each comments}}
    {{> comment comment=this}}
    {{/each}}
</div>

<a href="#" class="comment-readmore">
    Xem thêm bình luận
</a>
