{{!-- input: dpment --}}
{{!-- 
    dpment: {
        _id: 602e9cb11054c06b8fd7dc1e
        name: "PHÒNG CTHSSV",
        avatarUrl: "/img/logo tdt.png"
    }
--}}

<a class="chuyenmuc--link" href="/notifications?dpment={{dpment._id}}">
    <div class="chuyenmuc">
        <img src="{{dpment.avatarUrl}}" alt="logo">
        <h6>{{dpment.name}}</h6>
        <p class="chuyenmuc__thongbao--unread">
            10
        </p>
    </div>
</a>
