{{!-- input: dpment --}}
{{!-- 
    dpment: {
        _id: 602e9cb11054c06b8fd7dc1e
        name: "PHÒNG CTHSSV",
        avatarUrl: "/img/logo tdt.png"
    }
--}}

<a href="#" class="chuyenmuc--link">
    <div class="chuyenmuc">
        <img src="/img/logo tdt.png" alt="logo">
        <h6>Phòng CTHSSV</h6>
        <p class="chuyenmuc__thongbao--unread">
            10
        </p>
    </div>
</a>