{{!-- input: user(người đang login) --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
    
 --}}
<div class="header">
    <div class="header__searching">
        <input class="header-search" type="text" placeholder="Tìm kiếm">
        <a class="header__searching--link" href="#">
            <img class="header__searching--loupe" src="/img/loupe.png" alt="loupe.png">
        </a>
    </div>
    <a href="/{{user.username}}" class="header-username-link">
        <div class="header-username">
            <img class="header-username__img" src="{{{user.avatarUrl}}}" alt="Logo user">
            <p class="header-username__name">
                {{{user.displayName}}}
            </p>
        </div>
    </a>
    <div class="header-nav">
        <div class="header-nav__logout">
            <a href="#" onclick="signOut();">
                <img src="/img/exit.png" alt="icon bell" class="header-nav__logout--logo">
            </a>
        </div>

        <!-- <i class="fa fa-bars"></i> -->

    </div>
</div>  