<div id="alert-section">

</div>

<script id="instant-notifi" type="text/x-handlebars-template">
    <div class="alert alert-primary alert-dismissible fade show">
        <strong>\{{{post.department.name}}}</strong> 
        vừa đăng một thông báo: 
        <a href="/\{{post.sender.id}}/posts/\{{post._id}}" class="alert-link" >
            \{{{post.name}}}
        </a>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</script>