{{!-- input: post --}}

<div class="notification-body--item">
    <a href="/userId/posts/postId" class="notification-body--item-title-link">
        <h6 class="notification-body--item-title">
            Thông báo khai giảng các khóa học ôn luyện tiếng anh tháng 3/2021
        </h6>
    </a>
    <p class="notification-body--item-content">
        Trung tâm Ngôn ngữ Sáng tạo thông báo khai giảng các khóa
        học ngoại ngữ tháng 3/2021 tại CLC như sau:
    </p>
    <p class="notification-body--item-date">Phòng đại học | 03/02/2021</p>
</div>