<div id="add-account">
    <form class="myModal add-account" action="/manager/staffs" method="post" enctype="multipart/form-data">
        <div class="add-account__header">
            <img src="/img/logo tdt.png" alt="logo" class="add-account__header--logo add-logo">
            <h1 class="add-account__header--text">Thêm tài khoản</h1>
            <img src="/img/close.png" alt="close.png" class="add-account__header--close" onclick="closeAddAccount()">
        </div>
        <div class="add-account__body">
            {{!-- --------------hidden-------------- --}}
            <input type="hidden" name="userId" value="{{user.username}}">
            {{!-- --------------End of hidden-------------- --}}
            <div class="add-account__body--add">
                <label class="add-account__body--add-account add-title" for="username">Tài khoản</label>
                <input class="add-account__body--add-account-input" type="text" name="username">
            </div>
            <div class="add-account__body--add">
                <label class="add-account__body--add-password add-title" for="password">Mật khẩu</label>
                <input class="add-account__body--add-password-input" type="password" name="password">
            </div>
            <div class="add-account__body--add">
                <label class="add-account__body--add-displayName add-title" for="displayName">Tên hiển thị</label>
                <input class="add-account__body--add-displayName-input" type="text" name="displayName">
            </div>

            <div class="add-account__body--add">
                <label class="add-account__body--add-background add-title" for="background">Ảnh</label>
                <div class="inputfile-box">
                    <input type="file" id="imgAddAccount" class="inputfile" onchange="uploadAddImg(this)" name="image">
                    <label for="imgAddAccount">
                        <span id="add-imgAccount" class="add-account__body--add-imgBackground-input"></span>
                        <span class="add-account__body--add-imgBackground-btn">
                            <img src="/img/picture.png" alt="picture.png">
                        </span>
                    </label>
                </div>
            </div>

            <div class="add-account__body--add">
                <label class="add-account__body--add-chuyenmuc add-title" for="chuyenmuc">Chuyên mục</label>
            </div>
            <div class="list-chuyenmuc">
                {{#each department}}
                <div class="row">
                    <div class="col-sm">
                        <div class="checkbox-chuyenmuc">
                            <input type="checkbox" name="chuyenmuc" value="{{this.name}}">
                            <label for="chuyenmuc">{{this.name}}</label>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
        <button class="edit-info__btnSave" type="submit">Thêm</button>
    </form>
</div>

