{{!-- input: user(người đang login) --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
    
 --}}

<form id="upload-post" class="create-post" action="/" method="POST" enctype="multipart/form-data">
    <div class="myModal upload-post container">
        <div class="upload-post__header">
            <img src="/img/logo tdt.png" alt="logo" class="upload-post__header--logo">
            <h1 class="upload-post__header--text">Tạo bài viết</h1>
            <img src="/img/close.png" alt="close.png" class="upload-post__header--close pointer" onclick="closeCreatePost()">
        </div> 
        
        <div class="upload-post__body">
            {{!-- --------------hidden-------------- --}}
            <input type="hidden" name="userId" value="{{user.username}}">
            {{!-- --------------End of hidden-------------- --}}

            {{!-- TODO: embed clip từ youtube --}}
            <div class="attachment-link-section">

            </div>            
            
        </div>
        {{#ifEquals user.userType "staff"}}
            <div class="row" >
                <div class="col-lg-2">
                    <label for="chuyenmuc">Chuyên mục</label>
                </div>
                <div class="col-lg-10">
                    <select style="width:100%" name="chuyenmuc">
                        {{#each user.staffInfo.authorized}}
                            <option id="{{this.id}}" value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        {{/ifEquals}}
        <div class="row" >
            <div class="col-lg-2">
                <label for="title" placeholder="Tiêu đề" >Tiêu đề</label>
            </div>
            <div class="col-lg-10">
                <input style="width:100%" type="text" placeholder="Tiêu đề" name="title">
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-2">
                <label for="noidung">Nội dung</label>
            </div>
            <div class="col-lg-10">
                <textarea style="width:100%" placeholder="Bạn đang nghĩ gì ..." name="content"></textarea>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-2">
                <button class="btn" type="file">
                    <img src="img/attachment.png" alt="attachment">
                </button>
            </div>
            <div class="col-lg-2">
                <button class="btn" type="file">
                    <img src="img/video.png" alt="video">
                </button>
            </div>
            <div class="col-lg-6">
               
            </div>
            <div class="col-lg-2">
                <button class="btn" type="submit">Đăng bài</button>
            </div>
        </div>
        
    </div>
</form>